@use "../../system/helpers/rwdBreakpoints";

.aboutText {
	margin-bottom: -61px;

	@include rwdBreakpoints.lestThanContentSize {
		margin-bottom: -1px;
	}

	@include rwdBreakpoints.mobile {
		display: flex;
		flex-direction: column;

		.analyzeSumUp {
			margin-bottom: var(--sectionsVerticalSpacing);
			order: 5;
		}
	}
}
