@use "../../system/tokens/colors";
@use "../../system/tokens/typography";
@use "../../system/helpers/rwdBreakpoints";
@use "../../utils/bgMobileStretch";
@use "../../components/risks";

.consultantRoundedBox {
	$imgOffsetSpace: 300px;
	$mainHeadingOffset: 86px;
	$consultantImgSize-phone: 152px;
	$consultantImgOffset-phone: 70px;

	display: flex;
	min-height: 216px;
	margin-top: 139px;
	margin-bottom: var(--sectionsVerticalSpacing);
	padding: 33px 160px 33px 300px;
	border-radius: 50vh;
	position: relative;
	flex-direction: column;
	justify-content: center;
	background-color: colors.$gray-400;

	@include bgMobileStretch.bgMobileStretch;
	@include rwdBreakpoints.phone {
		margin-top: $consultantImgOffset-phone + risks.$risksMarginBottom-phone;
	}

	@include rwdBreakpoints.desktop {
		&--imgOnRight {
			padding-right: 355px;
			padding-left: 100px;
		}
	}

	&--withMainHeading {
		@include rwdBreakpoints.desktop {
			margin-top: calc(#{$mainHeadingOffset} + var(--sectionsVerticalSpacing));
		}

		@include rwdBreakpoints.phone {
			margin-top: 0;
			margin-bottom: 0;
			background-color: transparent;
		}
	}

	&--noImg {
		padding: 33px 100px 33px 100px;
	}

	&__imgContainer {
		overflow: hidden;
		position: absolute;
		top: -77px;
		bottom: 0;
		left: 28px;

		@include rwdBreakpoints.phone {
			width: $consultantImgSize-phone;
			height: $consultantImgSize-phone;
			border-radius: 50vh;
			top: -#{$consultantImgOffset-phone};
			right: -20px;
			left: initial;
			background-color: colors.$blue-400;
		}

		@include rwdBreakpoints.desktop {
			.consultantRoundedBox--imgOnRight & {
				right: 110px;
				left: initial;
			}
		}

		.consultantRoundedBox--withMainHeading & {
			top: -$mainHeadingOffset;

			@include rwdBreakpoints.phone {
				top: -38px;
			}
		}
	}

	&__img {
		@include rwdBreakpoints.desktop {
			.consultantRoundedBox--imgOnRight & {
				transform: scaleX(-1);
			}
		}

		@include rwdBreakpoints.phone {
			width: 114px;
			height: auto;
			margin: 13px auto 0;
			transform: scaleX(-1);
		}
	}

	&__heading {
		margin-bottom: 6px;

		@include rwdBreakpoints.phone {
			width: 200px;
		}
	}

	&__mainHeading {
		@include rwdBreakpoints.desktop {
			position: absolute;
			top: -$mainHeadingOffset;
			left: 0;
		}

		@include rwdBreakpoints.phone {
			margin-bottom: 18px;
		}
	}
}
