@use "../../system/tokens/colors";
@use "../../system/tokens/typography";
@use "../../system/tokens/borders";
@use "../../basis/settings";

.impactInfo {
	margin-bottom: 31px;
	padding: 34px 31px 44px;
	break-inside: avoid-column;
	border: 1px solid colors.$gray-400;
	border-radius: borders.$radiusM;
	justify-content: center;

	&__heading {
		margin-bottom: 41px;
	}
}

.impactData {
	display: flex;
	margin-bottom: 0;
	gap: 37px;
	justify-content: center;

	&--danger {
		color: colors.$red-500;
	}

	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"iconLeft iconRight"
			"score score"
			"name name";
		width: 170px;
		flex-direction: column;
		justify-items: center;
	}

	&__score {
		grid-area: score;
		margin-bottom: 7px;
		font-size: 32px; // inconsistency with system
		line-height: 100%;
	}

	&__name {
		grid-area: name;
		color: settings.$defaultFontColor;
		font-size: typography.$text-info-textSize;
		line-height: typography.$text-info-lineSize;
	}

	.icon {
		&-dna {
			&::before {
				margin-bottom: 18px;
				grid-column-start: iconLeft;
				grid-column-end: iconRight;
			}
		}

		&-factory {
			&::before {
				margin-right: 11px;
				margin-bottom: 18px;
				justify-self: end;
				grid-area: iconLeft;
			}
		}

		&-salad {
			&::after {
				margin-bottom: 18px;
				justify-self: start;
				margin-left: 11px;
				grid-area: iconRight;
			}
		}
	}
}
