@use "../../system/tokens/colors";

@mixin glow($size, $top: false, $left: false, $right: false,  $color: colors.$red-500, $centering: true, $fade: 1, $zIndex: -1) {
	&::before { // red glow
		content: "";
		opacity: $fade;
		width: $size;
		height: $size;
		position: absolute;
		z-index: $zIndex;
		background-color: $color;
		mask-image: url("../img/backgrounds/glow.png");
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-position: top left;
		pointer-events: none;

		@if ($centering == true) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@if ($top != false) {
			top: $top;
		}

		@if ($left != false) {
			left: $left;
		}

		@if ($right != false) {
			right: $right;
		}
	}
}
