@use "../system/tokens/colors";
@use "../system/tokens/typography";
@use "../system/tokens/borders";
@use "../system/tokens/shadows";
@use "../basis/settings";

.accordion {
	display: block;

	&__section {
		margin-bottom: 0;
		border-radius: borders.$radiusM;
		background-color: colors.$white;
		box-shadow: shadows.$big-lite;

		&:nth-child(n+1) {
			margin-top: 10px;
		}

		p {
			margin-bottom: 0;
		}
	}

	&__heading {
		display: flex;
		height: 60px;
		padding: 0 57px 0 11px;
		position: relative;
		align-items: center;
		font-size: typography.$heading-4-textSize;
		letter-spacing: 0.09px;
		line-height: 20px; // inconsistency with system
		cursor: pointer;

		.accordion__section--isActive & {
			color: settings.$defaultFontColor;
			font-weight: typography.$heading-4-weight;
		}

		&::after {
			position: absolute;
			right: 24px;
		}

		&.icon-senior {
			&::before {
				margin-right: 24px;
				margin-left: 7px;
			}
		}

		&.icon-docs {
			&::before {
				margin-right: 17px;
			}
		}

		&.icon-heartRate {
			&::before {
				width: 34px;
			}
		}

		&.icon-medicines {
			&::before {
				margin-right: 17px;
			}
		}

		&.icon-race {
			&::before {
				margin-right: 17px;
			}
		}

		&.icon-diet {
			&::before {
				width: 25px;
				height: 34px;
				margin-right: 24px;
				margin-left: 4px;
			}
		}

		&.icon-lifestyle {
			&::before {
				width: 38px;
				height: 32px;
				margin-right: 15px;
			}
		}
	}

	&__content {
		display: none;
		padding: 0 20px 23px;

		.accordion__section--isActive & {
			display: block;
		}
	}

	&__more {
		margin-top: 24px;
		text-align: right;
	}
}
