@use "../system/tokens/colors";
@use "../system/tokens/borders";
@use "../utils/bgMobileStretch";

.analyzeSumUp {
	display: grid;
	padding: 36px 30px 39px;
	border-radius: borders.$radiusM;
	break-inside: avoid-column;
	grid-template-areas:
		"heading score"
		"details details";
	align-items: center;
	background-color: colors.$gray-400;

	@include bgMobileStretch.bgMobileStretch;

	&__heading {
		grid-area: heading;
	}

	&__score {
		grid-area: score;
		font-size: 48px; // inconsistency with system
		letter-spacing: 0.24px;
		line-height: 100%;
		text-align: right;
	}

	&__description {
		grid-area: details;
		margin-top: 34px;
		margin-bottom: 0;
	}
}
