@use "../system/tokens/colors";
@use "../system/tokens/shadows";
@use "../system/tokens/borders";
@use "../system/tokens/typography";
@use "../system/helpers/rwdBreakpoints";
@use "../basis/settings";

$tabsWidth: 271px;
$tabsHeight: 60px;
$tabsSpacing: 30px;
$tabPaddingHorizontal: 27px;
$tabbWidthOffset: $tabsWidth + 2*$tabsSpacing;
$tabBgColor: colors.$white;

.asideTabsContent {
	display: grid;
	grid-template-columns: $tabbWidthOffset auto;
	grid-template-rows: max-content;
	grid-template-areas: "tabs content";
}

.asideTabs {
	margin: 0 $tabsSpacing;
	grid-area: tabs;
	position: relative;
	z-index: 2;

	&__tab {
		height: $tabsHeight;
		border-top: 1px solid colors.$gray-600;
		font-size: typography.$heading-4-textSize;
		letter-spacing: 0.09px;
		line-height: 20px; // inconsistency with system

		&:last-of-type {
			border-bottom: 1px solid colors.$gray-600;
		}

		&--isActive {
			position: relative;
			font-weight: typography.$heading-4-weight;

			&,
			+ .asideTabs__tab {
				border-top-color: transparent;
			}

			&:last-of-type {
				border-bottom-color: transparent;
			}

			&::after { // shadow cover element
				content: "";
				width: $tabPaddingHorizontal;
				height: inherit;
				position: absolute;
				top: 0;
				right: -#{$tabsSpacing + $tabPaddingHorizontal};
				z-index: 2;
				background: $tabBgColor;
			}
		}
	}

	&__link {
		display: flex;
		width: inherit;
		height: inherit;
		margin: 0 -#{$tabsSpacing};
		padding: 0 $tabsSpacing;
		align-items: center;

		.asideTabs__tab--isActive & {
			border-radius: borders.$radiusM 0 0 borders.$radiusM;
			background-color: $tabBgColor;
			color: settings.$defaultFontColor;

			html:not(.isSafari) & {
				filter: drop-shadow(shadows.$big-offset);
			}

			.isSafari & {
				box-shadow: shadows.$big-offset;
			}
		}
	}

	.icon-senior {
		&::before {
			margin-left: 5px;
		}
	}

	.icon-diet {
		&::before {
			width: 25px;
			height: 34px;
			margin-right: 31px;
			margin-left: 4px;
		}
	}

	.icon-dna {
		&::before {
			width: 35px;
			height: 34px;
			margin-right: 20px;
			margin-left: 4px;
		}
	}

	.icon-lifestyle {
		&::before {
			width: 38px;
			height: 32px;
			margin-right: 22px;
		}
	}

	.icon-cholesterol {
		&::before {
			margin-right: 22px;
		}
	}

	.icon-health {
		&::before {
			margin-right: 22px;
		}
	}
}

.asideTab {
	$moreOffset: settings.$defaultLineHeight + 30px;

	display: none;
	height: fit-content;
	margin-bottom: $moreOffset;
	padding: $tabPaddingHorizontal 30px;
	border-radius: 0 borders.$radiusM borders.$radiusM borders.$radiusM;
	grid-area: content;
	position: relative;

	&--isVisible {
		display: block;
		background-color: $tabBgColor;

		html:not(.isSafari) & {
			filter: drop-shadow(shadows.$big);
		}

		.isSafari & {
			box-shadow: shadows.$big;
		}
	}

	&__heading {
		margin-bottom: 7px;
	}

	&__more {
		position: absolute;
		right: 0;
		bottom: -#{$moreOffset};
	}

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&:nth-of-type(2) {
		border-top-left-radius: borders.$radiusM;
	}

	&:nth-of-type(n+3) {
		border-top-left-radius: borders.$radiusM;
		align-self: center;
	}

	&:nth-last-child(2) {
		margin-bottom: 0;
		border-top-left-radius: borders.$radiusM;
		align-self: end;
	}

	&:nth-last-child(1) {
		margin-bottom: 0;
		border-top-left-radius: borders.$radiusM;
		border-bottom-left-radius: 0;
		align-self: end;
	}
}
