@use "../system/helpers/rwdBreakpoints";

.companyInfo {
	$headingSpacing: 12px;

	display: grid;
	padding-top: 27px;
	padding-bottom: 32px;
	grid-template-columns: repeat(3, 200px) auto;

	@include rwdBreakpoints.phone {
		grid-template-columns: repeat(1, auto);
		grid-gap: $headingSpacing;
	}

	&__item {
		display: block;
	}

	&__heading {
		font-weight: normal;

		~ .companyInfo__heading {
			margin-top: $headingSpacing;
		}
	}

	&__detail {
		margin-bottom: 0;
		font-weight: bold;
	}
}
