@use "../system/tokens/colors";
@use "../system/helpers/rwdBreakpoints";
@use "../basis/settings";

$expanderOffset: 2 * settings.$defaultLineHeight;

@mixin expandableContentBase {
	display: -webkit-box; // stylelint-disable-line value-no-vendor-prefix
	overflow: hidden;
	padding-bottom: $expanderOffset;
	position: relative;
	-webkit-box-orient: vertical; // stylelint-disable-line property-no-vendor-prefix
	-webkit-line-clamp: 5;
}

.expandableContent {
	@include expandableContentBase;

	&--size7 {
		-webkit-line-clamp: 7;
	}

	&--size9 {
		-webkit-line-clamp: 9;
	}

	&--isExpanded {
		-webkit-line-clamp: initial !important;
	}

	&__expanderContainer {
		width: 100%;
		height: $expanderOffset;
		padding-top: $expanderOffset / 2;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: colors.$white;

		&--alignRight {
			text-align: right;
		}
	}

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.expandableContentOnPhone {
	position: relative;

	.expandableContent__expanderContainer {
		display: none;
	}

	@include rwdBreakpoints.phone {
		@include expandableContentBase;

		.expandableContent__expanderContainer {
			display: block;
		}
	}
}
