@use "../system/tokens/colors";
@use "../system/tokens/borders";
@use "../system/tokens/typography";
@use "../system/helpers/rwdBreakpoints";
@use "../utils/bgMobileStretch";
@use "../utils/iconBg";
@use "../elements/icon";
@use "../constants/sizes";

.hint {
	overflow: hidden;
	padding: 30px 100px 30px 330px;
	border-radius: borders.$radiusM;
	position: relative;
	background-color: colors.$gray-400;

	@include bgMobileStretch.bgMobileStretch;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("../img/dna.svg");
		background-repeat: no-repeat;
		background-position: -120px -93px;

		@include rwdBreakpoints.phone {
			opacity: 0.5;
			background-position: -183px -93px;
		}
	}

	&--withIcon {
		margin-bottom: var(--sectionsVerticalSpacing);
		padding-right: 300px;
		padding-left: 100px;

		@include iconBg.iconBg($size: 186px, $top: 49px, $left: auto, $bgColor: colors.$gray-500);
		@include icon.iconBase(
			$width: 170px,
			$height: 214px,
			$name: "dna2",
			$color: colors.$primary-900,
			$margin: 0,
			$containerSettings: false,
		);

		&::before {
			top: 78px;
			right: 54px;
			left: auto;
			background-image: none;
		}

		&::after {
			right: 93px;
		}
	}

	* {
		position: relative;
		z-index: 2;
	}

	&__heading {
		margin-bottom: 20px;
	}
}
