@use "../components/risks";
@use "../constants/sizes";
@use "../utils/wellness/glow";
@use "../system/helpers/rwdBreakpoints";

.howToRead {
	.breakingLine + & {
		margin-top: -7px;
	}

	&--hasExtraBottomMargin {
		margin-bottom: 142px;

		@include rwdBreakpoints.mobile {
			margin-bottom: 100px;
		}
	}

	&__intro {
		max-width: 768px;
		margin: 0 auto 69px;

		p:last-of-type {
			margin-bottom: 28px;
		}

		@include rwdBreakpoints.phone {
			margin-bottom: 4px;
		}

		&--mobileOnlyHeading {
			@include rwdBreakpoints.mobile {
				max-width: initial;
				margin-bottom: 46px;
			}
		}
	}

	&__introHeading {
		margin-bottom: 26px;

		@include rwdBreakpoints.phone {
			margin-bottom: 4px;
		}

		@include rwdBreakpoints.mobile {
			.howToRead__intro--mobileOnlyHeading & {
				text-align: left;
			}
		}
	}
}

.riskDescription {
	position: relative;

	@include rwdBreakpoints.phone {
		margin-bottom: 18px;
	}

	&::before { // scale mark footing
		$height: 29px;

		content: "";
		display: block;
		width: 68px;
		height: $height;
		border-radius: $height / 2;
		position: absolute;
		top: 2px;
		right: 0;
		z-index: 1;
		background-color: var(--colorScaleAccent);
	}

	&::after { // scale mark pointer
		content: "";
		display: block;
		width: 15px;
		height: 18px;
		position: absolute;
		top: -11px;
		right: 28px;
		z-index: 2;
		background-color: var(--colorScaleBase);
		mask-image: url("../img/riskPointer.svg");
		mask-size: cover;
	}

	&__heading {
		margin-bottom: 22px;
		font-weight: bold; // inconsistency with system

		&::before {
			$height: 5px;

			content: "";
			display: block;
			width: 40px;
			height: $height;
			border-radius: $height / 2;
			position: absolute;
			top: 16px;
			right: 14px;
			z-index: 2;
			background-color: var(--colorScaleBase);
		}
	}

	&__description {
		margin-bottom: 0;
		position: relative;

		.riskDescription--hasGlow & {
			@include glow.glow($size: 470px, $top: -40px, $centering: false, $fade: 0.9);

			&::before {
				right: -165px;
			}
		}
	}

	&--high {
		--colorScaleBase: #{risks.$highScaleAccentColor};
		--colorScaleAccent: #{risks.$highAccentColor};
	}

	&--medium {
		--colorScaleBase: #{risks.$mediumScaleAccentColor};
		--colorScaleAccent: #{risks.$mediumAccentColor};
	}

	&--low {
		--colorScaleBase: #{risks.$lowScaleAccentColor};
		--colorScaleAccent: #{risks.$lowAccentColor};
	}
}
