@use "../system/tokens/colors";
@use "../system/helpers/rwdBreakpoints";
@use "../basis/settings";
@use "../utils/iconBg";

.iconBlock {
	$expanderContainerHeight: 2 * settings.$textPadding;

	--leftPadding: 100px;

	@include rwdBreakpoints.phone {
		--leftPadding: 0;
	}

	display: block;
	padding-left: var(--leftPadding);
	position: relative;
	break-inside: avoid-column;

	@include iconBg.iconBg;

	&.icon {
		&-lifestyle {
			&::before { // stylelint-disable-line
				top: 12px;
				left: 17px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 44px;
					height: 37px;
					top: 5px;
					left: 14px;
				}
			}
		}

		&-talk2 {
			&::before { // stylelint-disable-line
				top: 12px;
				left: -3px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 69px;
					height: 42px;
					top: 5px;
					left: -5px;
				}
			}
		}

		&-diet {
			&::before { // stylelint-disable-line
				top: -5px;
				left: 10px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 36px;
					height: 50px;
					top: 5px;
					left: 14px;
				}
			}
		}

		&-medicines {
			&::before { // stylelint-disable-line
				width: 48px;
				height: 42px;
				top: 13px;
				left: 10px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 44px;
					height: 39px;
					top: 10px;
					left: 14px;
				}
			}
		}

		&-dna {
			&::before { // stylelint-disable-line
				top: 5px;
				left: 5px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 46px;
					height: 47px;
					top: 6px;
					left: 8px;
				}
			}
		}

		&-senior {
			&::before { // stylelint-disable-line
				width: 40px;
				height: 60px;
				top: -5px;
				left: 10px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 36px;
					height: 53px;
					top: 5px;
					left: 14px;
				}
			}
		}

		&-health {
			&::before { // stylelint-disable-line
				top: 13px;
				left: 12px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 39px;
					height: 36px;
				}
			}
		}

		&-family {
			&::before { // stylelint-disable-line
				width: 55px;
				height: 52px;
				top: -2px;
				left: 5px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 43px;
					height: 40px;
					top: 13px;
					left: 10px;
				}
			}
		}

		&-cholesterol {
			&::before { // stylelint-disable-line
				width: 47px;
				height: 47px;
				top: 3px;
				left: 7px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 33px;
					height: 30px;
					top: 13px;
					left: 15px;
				}
			}
		}

		&-sex {
			&::before { // stylelint-disable-line
				width: 50px;
				height: 42px;
				top: 9px;
				left: 5px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 43px;
					height: 37px;
					top: 13px;
					left: 10px;
				}
			}
		}

		&-race {
			&::before { // stylelint-disable-line
				width: 50px;
				height: 47px;
				top: 9px;
				left: 5px;

				@include rwdBreakpoints.phone { // stylelint-disable-line
					width: 48px;
					height: 46px;
				}
			}
		}          
	}

	&__heading {
		display: flex;
		height: 53px;
		margin-bottom: 13px;
		align-items: center;

		@include rwdBreakpoints.phone {
			--iconBgSize: 53px;

			padding-left: 77px;
			position: relative;
		}
	}

	&__expanderContainer {
		height: $expanderContainerHeight;
		padding-top: settings.$textPadding;
		position: absolute;
		right: 0;
		bottom: 0;
		left: var(--leftPadding);
		background-color: settings.$backgroundColor;
	}
}
