@use "../system/tokens/colors";
@use "../system/helpers/rwdBreakpoints";

.patientDetails {
	letter-spacing: 0.08px;

	&--vertical {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-template-rows: repeat(2, max-content);
		grid-auto-flow: column;

		@include rwdBreakpoints.phone-medium {
			grid-template-rows: repeat(4, max-content);
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__heading {
		margin-bottom: -3px;
		color: colors.$gray-700;
	}

	&__detail {
		&:not(:last-of-type) {
			margin-bottom: 6px;
		}
	}
}
