@use "../system/tokens/colors";
@use "../system/helpers/rwdBreakpoints";

.reportNav {
	display: flex;
	margin-bottom: 48px;
	flex-direction: row;

	@include rwdBreakpoints.phone {
		margin-bottom: 17px;
	}

	&__item {
		display: flex;
		align-items: center;
		flex-direction: row;

		@include rwdBreakpoints.desktop {
			&:not(:last-of-type) {
				&::after { // stylelint-disable-line max-nesting-depth
					content: "";
					display: flex;
					width: 1px;
					height: 14px;
					margin: 2px 20px 0;
					background-color: colors.$gray-600;
				}
			}
		}
	}
}
