@use "../elements/textLayout";
@use "../system/helpers/rwdBreakpoints";

.resultBox {
	display: grid;
	grid-template:
		"heading description"
		"result description";
	column-gap: textLayout.$columnGap;
	grid-template-columns: repeat(2, textLayout.$columnSize);
	grid-template-rows: max-content auto;

	@include rwdBreakpoints.mobile {
		grid-template:
			"heading"
			"result"
			"description";
		column-gap: 0;
		grid-template-columns: repeat(1, auto);
	}

	&__heading {
		margin-bottom: 23px;
		grid-area: heading;
	}

	&__result {
		margin-bottom: 30px;
		grid-area: result;
	}

	&__description {
		margin-bottom: 0;
		grid-area: description;
		align-self: center;
	}
}
