@use "../basis/settings";
@use "../system/tokens/colors";
@use "../system/tokens/typography";
@use "../system/tokens/borders";
@use "../system/tokens/shadows";
@use "../system/helpers/rwdBreakpoints";
@use "../elements/link";
@use "../utils/wellness/glow";

$highScaleAccentColor: colors.$red-500;
$highBaseColor: colors.$red-800;
$highAccentColor: colors.$red-100;
$mediumScaleAccentColor: colors.$yellow-500;
$mediumBaseColor: colors.$yellow-700;
$mediumAccentColor: colors.$yellow-100;
$lowScaleAccentColor: colors.$green-500;
$lowBaseColor: colors.$green-800;
$lowAccentColor: colors.$green-100;
$risksMarginBottom-phone: 47px;

.risks {
	margin-bottom: 63px;

	@include rwdBreakpoints.phone {
		margin-bottom: $risksMarginBottom-phone;
	}
}

.riskBox {
	$paddingTop: 18px;
	$paddingV: 30px;
	$paddingV-mobile: 20px;
	$paddingBottom: 11px;

	display: grid;
	min-height: 400px;
	padding: $paddingTop $paddingV $paddingBottom;
	grid-template-areas:
		"badge"
		"score"
		"heading"
		"description"
		"link";
	grid-template-rows: max-content auto max-content max-content max-content;
	border-radius: borders.$radiusM;
	position: relative;
	background-color: colors.$white;
	box-shadow: shadows.$big;
	color: settings.$defaultFontColor;

	@include rwdBreakpoints.mobile {
		min-height: auto;
		padding: 8px $paddingV-mobile 11px;
		box-shadow: shadows.$small;
	}

	@include rwdBreakpoints.desktop {
		&:hover {
			background-color: colors.$gray-200;
		}

		&--hasGlow {
			&:hover {
				box-shadow: none;

				@include glow.glow($size: 460px, $zIndex: 1, $color: var(--resultTypeColor));

				&::before { // stylelint-disable-line max-nesting-depth
					margin-top: 20px;
				}

				&::after { // stylelint-disable-line max-nesting-depth
					content: "";
					border-radius: borders.$radiusM;
					border-bottom-right-radius: borders.$radiusM + 2;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 2;
					background-color: colors.$gray-200;
				}

				> * { // stylelint-disable-line max-nesting-depth
					z-index: 3;
				}
			}
		}
	}

	&--hasGlow {
		box-shadow: shadows.$big-lite;
	}

	&--high {
		--colorAccent: #{$highAccentColor};
		--colorBase: #{$highBaseColor};
		--colorScaleAccent: #{$highScaleAccentColor};
		--resultTypeColor: #{$highScaleAccentColor};
		--riskArea: high;
		--riskBar: linear-gradient(-270deg, #{colors.$gray-400} 50%, var(--colorScaleAccent) 100%);
	}

	&--medium {
		--colorAccent: #{$mediumAccentColor};
		--colorBase: #{$mediumBaseColor};
		--colorScaleAccent: #{$mediumScaleAccentColor};
		--resultTypeColor: #{$mediumScaleAccentColor};
		--riskArea: medium;
		--riskBar: linear-gradient(270deg, #{colors.$gray-400} 0%, var(--colorScaleAccent) 50%, #{colors.$gray-400} 100%);
	}

	&--low {
		--colorAccent: #{$lowAccentColor};
		--colorBase: #{$lowBaseColor};
		--colorScaleAccent: #{$lowScaleAccentColor};
		--resultTypeColor: #{$lowScaleAccentColor};
		--riskArea: low;
		--riskBar: linear-gradient(270deg, #{colors.$gray-400} 50%, var(--colorScaleAccent) 100%);
	}

	&--isDisabled {
		background-color: colors.$gray-400;
		box-shadow: none;
		pointer-events: none;
	}

	&__heading {
		margin-bottom: 6px;
		grid-area: heading;
	}

	&__link {
		margin-top: -4px;
		grid-area: link;
		justify-self: end;

		@include rwdBreakpoints.mobile {
			margin-top: 20px;
		}

		a:hover > & {
			color: link.$linkColorHover;
		}

		.riskBox--isDisabled & {
			color: link.$linkColorDisabled;
		}

		.riskBox--hasGlow:hover & {
			position: relative;

			@include glow.glow($size: 308px, $top: -101px, $left: -95px, $fade: 0.4, $centering: false, $color: var(--resultTypeColor));
		}

		&--hasBg {
			margin: 0 -#{$paddingV} -#{$paddingBottom};
			padding: $paddingBottom $paddingV $paddingBottom;
			border-top-left-radius: borders.$radiusM;
			border-bottom-right-radius: borders.$radiusM;
			background-color: colors.$gray-400;

			a:hover > & {
				background-color: colors.$primary-600;
				color: colors.$white;
			}

			@include rwdBreakpoints.mobile {
				margin-right: -#{$paddingV-mobile};
			}
		}
	}

	&__score {
		display: grid;
		max-width: 321px;
		column-gap: 5px;
		grid-template-rows: repeat(3, max-content);
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"low medium high"
			"bar bar bar";
		grid-area: score;
		margin-bottom: 23px;

		&--stretch {
			max-width: 100%;
		}

		&::before { // scale bar
			$height: 8px;

			content: "";
			display: block;
			height: $height;
			border-radius: $height / 2;
			grid-area: bar;
			background-image: var(--riskBar);
			mask-image: url("../img/riskBar.svg");
			mask-size: 100% auto;
		}

		&::after { // scale pointer
			content: "";
			display: block;
			width: 13px;
			height: 14px;
			margin-bottom: 6px;
			grid-area: var(--riskArea);
			justify-self: center;
			background-color: var(--colorScaleAccent);
			mask-image: url("../img/riskPointer.svg");
			mask-size: cover;
		}

		.riskBox--isDisabled & {
			--colorAccent: #{colors.$white};
			--colorScaleAccent: #{colors.$gray-700};
		}
	}

	&__badge {
		$height: 20px;

		display: flex;
		width: fit-content;
		height: $height;
		margin-bottom: 31px;
		padding: 0 13px;
		border-radius: $height / 2;
		grid-area: badge;
		align-items: center;
		align-self: end;
		justify-self: end;
		background-color: var(--colorAccent);
		color: var(--colorBase);
		font-size: 14px; // inconsistency with system
		line-height: 100%;
	}

	&__description {
		$linesCount: 4;

		display: -webkit-box; // stylelint-disable-line value-no-vendor-prefix
		overflow: hidden;
		height: $linesCount * settings.$defaultLineHeight;
		grid-area: description;
		-webkit-box-orient: vertical; // stylelint-disable-line property-no-vendor-prefix
		-webkit-line-clamp: $linesCount;

		@include rwdBreakpoints.mobile {
			height: auto;
			max-height: $linesCount * settings.$defaultLineHeight;
		}
	}

	&--autoHeight {
		min-height: auto;
	}

	&--compact {
		min-height: auto;
		padding-bottom: $paddingTop;
		break-after: column;
		position: relative;
		grid-template-areas:
			"heading badge"
			"score score";

		.riskBox__heading {
			font-weight: normal; // inconsistency with system
		}

		.riskBox__badge {
			margin-bottom: 23px;
		}

		.riskBox__score {
			margin-bottom: 0;
		}
	}
}
