@use "../system/tokens/colors";
@use "../system/tokens/typography";
@use "../system/tokens/borders";
@use "../system/helpers/rwdBreakpoints";
@use "../constants/sizes";
@use "../utils/bgMobileStretch";
@use "../utils/iconBg";

.share {
	display: flex;
	padding: 53px 30px 44px;
	border-radius: borders.$radiusM;
	align-items: center;
	flex-direction: column;
	background-color: colors.$gray-400;

	@include bgMobileStretch.bgMobileStretch;

	@include rwdBreakpoints.phone {
		margin-bottom: calc(var(--sectionsVerticalSpacing) * -1);
	}

	&--stretch {
		$marginV: calc(((100vw - #{sizes.$contentWidth}) / 2) * -1);

		margin-right: $marginV;
		margin-left: $marginV;
		border-radius: 0;

		@include rwdBreakpoints.lestThanContentSize {
			margin-right: -#{sizes.$mobilePadding};
			margin-left: -#{sizes.$mobilePadding};
		}

		@include rwdBreakpoints.mobile {
			padding-bottom: 53px;
		}
	}

	&__heading {
		margin-bottom: 16px;

		@include rwdBreakpoints.phone {
			margin-bottom: 6px;
		}
	}

	&__lead {
		width: 560px;
		margin-bottom: 32px;

		@include rwdBreakpoints.mobile {
			width: auto;
		}
	}

	&__options {
		width: 930px;
		margin-top: 0;
		margin-bottom: 0;

		@include rwdBreakpoints.lestThanContentSize {
			width: auto;
		}

		@include rwdBreakpoints.tablet {
			grid-template-columns: repeat(4, auto);
		}

		@include rwdBreakpoints.phone {
			align-self: start;
			grid-gap: 30px;
		}
	}

	&__optionsItem {
		@include iconBg.iconBg($bgColor: colors.$white);

		position: relative;

		@media screen and (min-width: rwdBreakpoints.$breakpoint-tablet-min) {
			$size: 82px;
			--iconBgSize: #{$size};

			display: block;
			padding-top: $size + 19px;
			text-align: center;

			&::after { // icons background
				margin-left: -#{$size/2};
				left: 50%;
			}

			&::before {
				left: 50%;
			}

			&.icon {
				&-docs { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						top: 17px;
					}
				}

				&-talk { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						margin-left: -11px;
						top: 17px;
					}
				}

				&-talk2 { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						margin-left: -18px;
						top: 29px;
					}
				}

				&-family2 { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						margin-left: -14px;
						top: 17px;
					}
				}
			}
		}

		@include rwdBreakpoints.phone {
			$size: 53px;
			--iconBgSize: #{$size};

			display: flex;
			height: $size + 15px;
			padding-left: $size + 24px;
			align-items: flex-start;
			flex-direction: column;
			justify-content: center;

			&.icon {
				&-docs { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						width: 31px;
						height: 41px;
						top: 11px;
						left: 26px;
					}
				}

				&-talk { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						width: 41px;
						height: 41px;
						top: 10px;
						left: 18px;
					}
				}

				&-talk2 { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						width: 43px;
						height: 27px;
						top: 19px;
						left: 15px;
					}
				}

				&-family2 { // stylelint-disable-line max-nesting-depth
					&::before { // stylelint-disable-line max-nesting-depth
						width: 42px;
						height: 42px;
						top: 10px;
						left: 17px;
					}
				}
			}
		}
	}

	&__optionName {
		display: block;
		font-size: typography.$heading-3-textSize;
		line-height: typography.$heading-3-lineSize;


	}
}
