@use "../system/tokens/colors";
@use "../system/tokens/shadows";
@use "../system/tokens/borders";
@use "../system/helpers/rwdBreakpoints";
@use "../elements/link";
@use "../basis/settings";
@use "../constants/sizes";
@use "../utils/imageReplacement";
@use "../utils/notSummary";

$tabsHeight: 48px;
$separatorWidth: 1px;

@mixin separator {
	&::before {
		content: "";
		display: flex;
		width: $separatorWidth;
		height: 30px;
		position: relative;
		z-index: 1;
		background-color: colors.$gray-600;
	}
}

.tabsContent {
	min-height: $tabsHeight;
	margin-top: $tabsHeight;
	margin-bottom: var(--sectionsVerticalSpacing);
	padding: var(--sectionsVerticalSpacing) var(--sectionsHorizontalSpacing);
	border-radius: 0 0 5px 5px;
	position: relative;
	z-index: 2;
	background: colors.$white;

	html:not(.isSafari) & {
		filter: drop-shadow(shadows.$big);
	}

	.isSafari & {
		box-shadow: shadows.$big;
	}

	@include rwdBreakpoints.lestThanContentSize {
		margin-bottom: 0;
	}

	@include notSummary.notSummary {
		margin-top: 13px;
	}

	&--noBg {
		margin-bottom: 0;
		padding: 0;
		background-color: transparent;

		html:not(.isSafari) & {
			filter: none;
		}

		.isSafari & {
			box-shadow: none;
		}

		@include rwdBreakpoints.lestThanContentSize {
			padding: 0 sizes.$sectionsHorizontalSpacing-mobile;
		}
	}
}

.tabs {
	$tabPadding: 21px;
	$tabPaddingModifier: 5px;
	$tabRadius: 15px;
	$scrollersSize: 100px;
	$tabsBg: colors.$gray-400;

	display: flex;
	height: $tabsHeight;
	border-radius: $tabRadius $tabRadius 0 0;
	position: absolute;
	top: -$tabsHeight;
	left: 0;
	z-index: 5;
	flex-direction: row;
	background: $tabsBg;
	font-size: 18px; // inconsistency with system
	letter-spacing: 0.09px;

	@include rwdBreakpoints.phone {
		width: 100%;
		font-size: settings.$defaultFontSize;
	}

	@include notSummary.notSummary {
		display: none;
	}

	&--stretched {
		width: 100%;
	}

	&__container {
		display: flex;
		margin-left: 0;
		flex-direction: row;
		transition: margin-left 0.1s ease-in;
	}

	&__scrollers {
		display: none;
		height: $tabsHeight;
		border-top-right-radius: borders.$radiusM;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		align-items: center;
		flex-direction: row;
		background: $tabsBg;

		@include separator;

		&--isVisible {
			display: flex;
		}
	}

	&__scroller {
		padding: 0 14px;
		color: link.$linkColorIdle;
		font-size: 0;

		&:first-of-type {
			padding-left: $tabPadding;
		}

		&:last-of-type {
			padding-right: $tabPadding;
		}

		&--isInactive {
			pointer-events: none;

			&::after,
			&::before {
				background-color: colors.$gray-600;
			}
		}
	}

	&__tab {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: row;

		&--scrolledHidden {
			display: none;
		}

		@include rwdBreakpoints.phone {
			flex-grow: 1;
		}

		&:nth-of-type(n+2) {
			@include separator;
		}

		&:first-of-type {
			.tabs__link {
				padding-left: $tabPadding + $tabPaddingModifier;
			}
		}

		&:last-of-type {
			.tabs__link {
				padding-right: $tabPadding + $tabPaddingModifier;
			}
		}

		&--isActive {
			$tabActiveOffset: 10px;
			$tabActiveHeight: $tabsHeight + 5px;

			height: $tabActiveHeight;

			.tabs__link {
				margin-top: -$tabActiveOffset;
				margin-right: -$separatorWidth;
				margin-left: -$separatorWidth;
				border-radius: $tabRadius $tabRadius 0 0;
				position: relative;
				z-index: 2;
				background: colors.$white;
				color: colors.$blue-900;
				font-weight: bold;
			}
			/* stylelint-disable max-nesting-depth */
			&:first-of-type {
				&,
				.tabs__link {
					margin-left: 0;
				}
			}

			&:last-of-type {
				&,
				.tabs__link {
					margin-left: -1;
				}
			}
			/* stylelint-enable max-nesting-depth */

			> .subtabMenu {
				display: block;
			}
		}
	}

	&__link {
		display: flex;
		height: 100%;
		padding-right: $tabPadding;
		padding-left: $tabPadding;
		align-items: center;
		flex-grow: 1;
		justify-content: center;
		white-space: nowrap;
	}
}

.tab,
.subTab {
	display: none;

	&--isVisible {
		display: block;
	}
}

.subtabMenu {
	$elementsPadding: 14px;

	display: none;
	height: $tabsHeight;
	padding: 0 $elementsPadding;
	border-bottom: 1px solid colors.$gray-400;
	border-bottom-right-radius: borders.$radiusM;
	border-bottom-left-radius: borders.$radiusM;
	position: absolute;
	top: $tabsHeight;
	right: 0;
	left: 0;
	background-color: colors.$white;

	&__content {
		display: flex;
		height: $tabsHeight;
		flex-direction: row;
	}

	&__item {
		display: flex;
		height: $tabsHeight;
		padding: 0 $elementsPadding;
		align-items: center;

		&--isActive {
			position: relative;
			color: colors.$blue-900;
			font-weight: bold;

			&::before {
				$pointerWidth: 12px;

				content: "";
				display: block;
				width: $pointerWidth;
				height: 11px;
				margin-left: -#{$pointerWidth / 2};
				position: absolute;
				top: 2px;
				left: 50%;
				background-color: currentColor;
				mask-image: url("../img/riskPointer.svg");
				mask-size: cover;
			}

			&::after {
				$glowWidth: 400px;
				$glowHeight: 100px;

				content: "";
				display: block;
				opacity: 0.5;
				width: $glowWidth;
				height: $glowHeight;
				margin-left: -#{$glowWidth / 2};
				position: absolute;
				bottom: -#{$glowHeight};
				left: 50%;
				background-color: currentColor;
				mask-image: url("../img/backgrounds/glow.png");
				mask-position: bottom;
				mask-size: cover;
				pointer-events: none;
			}
		}
	}
}
