@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: normal;
	src: url('https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2') format('woff2');
}

@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 1200;
	src: url('https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2') format('woff2');
}
