@use "./rwdBreakpoints";

.hideMobile {
	@include rwdBreakpoints.hideMobile;
}

.showMobile {
	@include rwdBreakpoints.showMobile;
}

.hidePhone {
	@include rwdBreakpoints.phone {
		display: none;
	}
}

.hideDesktop {
	@include rwdBreakpoints.desktop {
		display: none;
	}
}
