/* CORE: reset styles */


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

button,
input {
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

img,
fieldset {
	border: 0;
}

%a,
a,
object {
	outline: 0 !important;
}

input,
textarea,
button {
	&:focus {
		@extend %a;
	}
}

li {
	list-style: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
