@use "../../constants/sizes";

// small phones in portrait mode:
$breakpoint-phone-small-max: 400px;

// small phones in wide portrait mode:
$breakpoint-phone-medium-min: $breakpoint-phone-small-max + 1;
$breakpoint-phone-medium-max: 500px;

// phones in portrait mode:
$breakpoint-phone-max: 767px;

// tablets and phones in landscape:
$breakpoint-tablet-min: ($breakpoint-phone-max + 1);
$breakpoint-tablet-max: 1023px;

// laptops (small desktops):
$breakpoint-laptop-min: ($breakpoint-tablet-max + 1);
$breakpoint-laptop-max: 1199px;

// large desktops (big monitors):
$breakpoint-desktop-min: ($breakpoint-laptop-max + 1);

@mixin phone-small {
	@media screen and (max-width: $breakpoint-phone-small-max) {
		@content;
	}
}

@mixin phone-medium {
	@media screen and (max-width: $breakpoint-phone-medium-max) {
		@content;
	}
}

@mixin phone {
	@media screen and (max-width: $breakpoint-phone-max) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: $breakpoint-tablet-max) and (min-width: $breakpoint-tablet-min) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $breakpoint-tablet-max) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $breakpoint-laptop-min) {
		@content;
	}
}

@mixin lestThanContentSize {
	@media screen and (max-width: sizes.$contentWidth) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $breakpoint-laptop-max) and (min-width: $breakpoint-laptop-min) {
		@content;
	}
}

@mixin bigScreens {
	@media screen and (min-width: $breakpoint-desktop-min) {
		@content;
	}
}

@mixin hideMobile {
	@include mobile {
		display: none;
	};
}

@mixin showMobile {
	@include mobile {
		display: block;
	};
}

@mixin hideDesktop {
	@include desktop {
		display: none;
	}
}
