@use "../tokens/typography";
@use "./rwdBreakpoints";

.heading {
	&-0 {
		font-size: typography.$heading-0-textSize;
		font-weight: typography.$heading-0-weight;
		line-height: typography.$heading-0-lineSize;

		@include rwdBreakpoints.phone {
			font-size: 28px;
			line-height: 34px;
		}
	}

	&-1 {
		font-size: typography.$heading-1-textSize;
		font-weight: typography.$heading-1-weight;
		line-height: typography.$heading-1-lineSize;

		@include rwdBreakpoints.phone {
			font-size: 24px;
			letter-spacing: 0.1px;
			line-height: 30px;
		}
	}

	&-2 {
		font-size: typography.$heading-2-textSize;
		font-weight: typography.$heading-2-weight;
		letter-spacing: 0.12px;
		line-height: typography.$heading-2-lineSize;

		@include rwdBreakpoints.phone {
			font-size: 20px;
			letter-spacing: 0.1px;
			line-height: 28px;
		}
	}

	&-3 {
		font-size: typography.$heading-3-textSize;
		font-weight: typography.$heading-3-weight;
		line-height: typography.$heading-3-lineSize;

		@include rwdBreakpoints.phone {
			font-size: 18px;
			line-height: 26px;
		}
	}

	&-4 {
		font-size: typography.$heading-4-textSize;
		font-weight: typography.$heading-4-weight;
		line-height: typography.$heading-4-lineSize;
	}
}

.text {
	&-medium {
		font-size: typography.$text-medium-textSize;
		line-height: typography.$text-medium-lineSize;
		letter-spacing: 0.08px;
	}

	&-body {
		font-size: typography.$text-body-textSize;
		line-height: typography.$text-body-lineSize;
		letter-spacing: 0.07px;
	}

	&-info {
		font-size: typography.$text-info-textSize;
		line-height: typography.$text-info-lineSize;
	}
}

.align {
	&-center {
		text-align: center;
	}
}

.list {
	&-unordered {
		padding-left: 12px;

		li {
			&::before {
				content: '•';
				position: absolute;
				top: 0;
				left: 0;
			}

			padding-left: 24px;
			position: relative;
		}
	}
}
