<text:p></text:p>
<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
      <text:p>Schematic view of the detected structural variants </text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
      <text:p>
      <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="500px" svg:height="720px">
      {% set picture_name = "sv.svg" %}
      <draw:image xlink:href="Pictures/{{picture_name}}"/>
      </draw:frame>
      </text:p>

      <text:p text:style-name ="figure">
       Structural variants were analyzed with lumpy/smoove software. Only variants longer than 100bp are shown.
       </text:p>
    </table:table-cell>
  </table:table-row>
</table:table>



