@use "../../system/helpers/rwdBreakpoints";

#contentContainer {
	$bgColor: #bceaf7;

	overflow: hidden;
	background-image: url("../img/backgrounds/content.svg"), linear-gradient(transparent 0, transparent 309px, #a4e0ea 309px, #a4e0ea 422px), linear-gradient($bgColor 0%, $bgColor 100%);
	background-repeat: no-repeat;
	background-position: center top, right top, left top;
	background-size: 1436px 423px, 50% 422px, 100% 422px;

	@include rwdBreakpoints.phone {
		background-color: $bgColor;
		background-image: url("../img/backgrounds/content-mobile.svg");
		background-repeat: no-repeat;
		background-position: calc(100% + 64px) -16px;
		background-size: 464px 463px;
	}
}
