@use "../../system/helpers/rwdBreakpoints";

#header {
	margin-bottom: 78px;
	padding-top: 24px;

	@include rwdBreakpoints.phone {
		margin-bottom: 98px;
	}
}

.header {
	&__heading {
		padding-bottom: 12px;

		@include rwdBreakpoints.phone {
			margin-bottom: 3px;
		}
	}
}
