@use "../system/tokens/colors";
@use "../system/tokens/typography";
@use "../system/tokens/shadows";
@use "../system/helpers/rwdBreakpoints";
@use "../utils/imageReplacement";

#topBar {
	height: 80px;
	background-color: colors.$white;

	@include rwdBreakpoints.mobile {
		height: 75px;
	}
}

.topBar {
	&--hasShadow {
		box-shadow: shadows.$big;
	}

	&__content {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: space-between;
	}
}

.slogan { // inconsistency with system
	font-family: typography.$font-primary;
	font-weight: bold;
}

.logo {
	background-size: cover;

	@include rwdBreakpoints.mobile {
		width: 86px;
		height: 22px;
	}
}
