@use "../system/helpers/rwdBreakpoints";

@mixin bgMobileStretch {
	@include rwdBreakpoints.phone {
		margin-right: calc(var(--sectionsHorizontalSpacing) * -1);
		margin-left: calc(var(--sectionsHorizontalSpacing) * -1);
		padding: var(--sectionsVerticalSpacing) var(--sectionsHorizontalSpacing);
		border-radius: 0;
	}
}
