@use "../system/tokens/colors";

@mixin iconBg ($size: 62px, $bgColor: colors.$gray-400, $top: 0, $left: 0) {
	--iconBgSize: #{$size};

	&::after {
		content: "";
		width: var(--iconBgSize);
		height: var(--iconBgSize);
		border-radius: 50%;
		position: absolute;
		top: $top;
		left: $left;
		z-index: 1;
		background-color: $bgColor;
	}

	&::before { // icons
		position: absolute;
		z-index: 2;
	}
}
