@mixin imageReplacement($img, $width, $height, $display: block) {
	display: $display;
	width: $width;
	height: $height;
	background-image: url("../img/#{$img}");
	background-repeat: no-repeat;
	background-position: top left;
	font-size: 0;
}
