<text:p text:style-name="H1">Polygenic scores report</text:p>
<text:p> </text:p>

{# PATIENT, SAMPLE, PHYSICIAN #}

  <text:p></text:p>
  <table:table table:style-name="IseqTable" >
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-column table:style-name="IseqTableColumn"/>
    <table:table-column table:style-name="IseqTableColumn"/>
    <table:table-column table:style-name="IseqTableColumn"/>
    

  {# to do: define "IseqTableCell" cases in variable before loop }
  {# % set cell_style = "IseqTableCell" %#}

  {########## In this section content and arrangment of table is created. #############}
  {%for row in [[["Patient", "Sample"], "IseqTableHeader"],
                [["Surname:", sample.surname, "Sample ID:", sample.ID], "IseqTableCell"],
                [["Name:", sample.name, "Source:", sample.source], "IseqTableCell"],
                [["Sex:", sample.sex, "Sequencing type:", sample.sequencing_type], "IseqTableCell"],
                [["Date of birth:", sample.birth_date, "Received date:", sample.received_date], "IseqTableCell"],
                [["Patient ID:", sample.patient_id, "Sequencing date:", sample.sequencing_date], "IseqTableCell"],
                [["", "", "Report date:", sample.report_date], "IseqTableCell"]
                ]%} 
  {#######################} 


  {# Construction and style for HEADERS in table (two columns per table in row) #}
   <table:table-row table:style-name="IseqTableRow">
    {% if row[1] == "IseqTableHeader"%}
      {%for cell in row[0]%}
        <table:table-cell table:style-name="IseqTableHeader" table:number-columns-spanned="2" office:value-type="string">
          <text:p>{{cell}}</text:p>
        </table:table-cell>
        <table:covered-table-cell/>
      {% endfor %} 

  {# Construction and style for CELLS in table (four columns in row) #}
    {% elif row[1] == "IseqTableCell"%}
      {%for cell in row[0]%}
        <table:table-cell table:style-name="IseqTableCell" office:value-type="string">
        <text:p>{{cell}}</text:p>
        </table:table-cell>
      {% endfor %} 

  {# just in case if no style is defined for cell #}
      {% else %}
      {%for cell in row[0]%}
        <table:table-cell office:value-type="string">
          <text:p>{{cell}}</text:p>
          </table:table-cell>
      {% endfor %}
    {% endif %} 

    </table:table-row> 
  {% endfor %} 

  </table:table>
  <text:p></text:p>

{# SCOPE OF ANALYSIS #}
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-row table:style-name="IseqTableRow">
      <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>Scope of analysis</text:p>
      </table:table-cell>
    </table:table-row>
    <table:table-row table:style-name="IseqTableRow">
   <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
    <text:p>Whole genome sequencing (WGS)</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>
<text:p></text:p>

{# ANALYZED TRAITS #}
  <table:table table:style-name="IseqTable">
    <table:table-column table:style-name="IseqTableColumn" />
    <table:table-row table:style-name="IseqTableRow">
      <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
        <text:p>Analyzed traits</text:p>
      </table:table-cell>
    </table:table-row>
    <table:table-row table:style-name="IseqTableRow">
   <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
    {% set traits_list = mobigen|map(attribute="trait_title")|join(', ')|replace("_"," ") %}
    <text:p>{{traits_list}}</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>

