<text:p></text:p>
<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
      <text:p>Science behind the test</text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
    <text:p>{{model.science_behind_the_test}}</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>


