<text:p> </text:p>
<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
      <text:p>Your result: {{model.categorical_output}}</text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
    <text:p>{{model.result_statement}}</text:p>
    <text:p></text:p>
     <text:p>
      <draw:frame draw:style-name="logo" text:anchor-type="as-char" svg:width="600px" svg:height="300px">
      {% set good_path = "/"+picture_name %}
      <draw:image xlink:href="Pictures{{good_path}}"/>
      </draw:frame>
      </text:p>
    </table:table-cell>
  </table:table-row>
</table:table>
<text:p></text:p>


