<text:p></text:p>
<table:table table:style-name="IseqTable">
  <table:table-column table:style-name="IseqTableColumn"/>
  <table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableHeader" office:value-type="string">
      <text:p>References</text:p>
    </table:table-cell>
  </table:table-row>
  </table:table-header-rows>
  <table:table-row table:style-name="IseqTableRow">
    <table:table-cell table:style-name="IseqTableCell"  office:value-type="string">
    {% if model.references.article_links|length > 0 %}
    <text:p text:style-name="ub">Data analysis articles:</text:p>
    {%for pmid in model.references.article_links|reverse%}
       {% if references[pmid] != none %}
          {% set n = loop.index %}
          <text:p>[{{n}}] {{references[pmid] }}</text:p>
       {%endif%}
    {%endfor%}
    {%endif%}
    <text:p></text:p>

    {% if model.references.website_text_data|length >0 %}
       <text:p text:style-name="ub">Articles used for recommendations:</text:p>
       {%for link in model.references.website_text_data%}
          <text:p>{{link.title | replace('&', 'and')}}</text:p>
          <text:p>{{link.links}} ({{link.accessed}})</text:p>
       {%endfor%}
       <text:p></text:p>
    {%endif%}
    </table:table-cell>
  </table:table-row>
</table:table>

