@use "../../system/tokens/colors";

$bigShadowBase: 14px 78px rgba(colors.$gray-700, 23%);
$big: 0 #{$bigShadowBase};
$big-offset: -80px #{$bigShadowBase};
$big-lite: 0 14px 78px rgba(colors.$blue-900, 9%);
$big-xLite: 0 14px 78px rgba(colors.$blue-900, 5%);
$small: 0 0 22px rgba(colors.$gray-700, 13%);
$redGlow: 0 14px 100px rgba(colors.$red-500, 42%);
