$font-primary: "Mulish", sans-serif;

$heading-0-textSize: 36px;
$heading-0-lineSize: 42px;
$heading-0-weight: bold;

$heading-1-textSize: 28px;
$heading-1-lineSize: 34px;
$heading-1-weight: bold;

$heading-2-textSize: 24px;
$heading-2-lineSize: 32px;
$heading-2-weight: bold;

$heading-3-textSize: 20px;
$heading-3-lineSize: 28px;
$heading-3-weight: 400;

$heading-4-textSize: 18px;
$heading-4-lineSize: 26px;
$heading-4-weight: bold;

$text-medium-textSize: 20px;
$text-medium-lineSize: 30px;

$text-body-textSize: 16px;
$text-body-lineSize: 24px;

$text-info-textSize: 14px;
$text-info-lineSize: 18px;
