@use "../system/tokens/colors";
@use "../system/tokens/typography";

$defaultFontFamily: typography.$font-primary;
$defaultFontColor: colors.$blue-900;
$selectionColor: $defaultFontColor;
$selectionFontColor: colors.$white;
$linkColor: colors.$blue-500;
$defaultFontSize: typography.$text-body-textSize;
$defaultLineHeight: typography.$text-body-lineSize;
$textPadding: $defaultLineHeight;
$backgroundColor: colors.$white;

html {
	min-height: 100%;
	background: $backgroundColor;
	color: $defaultFontColor;
}

body {
	min-width: 320px;
	height: 100%;
	font-family: $defaultFontFamily;
	font-size: $defaultFontSize;
	letter-spacing: 0.07px;
	line-height: $defaultLineHeight;
}

p,
ul,
ol,
address {
	margin-bottom: $textPadding;
}

p {
	+ ul,
	+ ol {
		margin-top: -$textPadding;
	}
}

ol {
	padding-left: 22px;

	li {
		list-style: decimal;
	}
}

ol,
ul,
nav {
	& & {
		margin-bottom: 0;
	}
}

a {
	color: $linkColor;
	text-decoration: none;
	cursor: pointer;
}

::selection {
	background: $selectionColor;
	color: $selectionFontColor;
}
