@use "../../system/tokens/colors";
@use "../../system/helpers/rwdBreakpoints";

.aboutTest {
	&__intro {
		width: 752px;
		margin: 0 auto;
		text-align: center;

		@include rwdBreakpoints.mobile {
			width: auto;
		}
	}

	&__mainHeading {
		margin-bottom: 43px;
	}

	&__heading {
		margin-bottom: 34px;
		font-weight: bold;
	}

	&__description {
		margin-bottom: 49px;
		color: colors.$gray-700;

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.chartContainer {
	margin-bottom: 44px;
	padding-left: 100px;

	@include rwdBreakpoints.mobile {
		padding-left: 0;
	}
}

.chartContent {
	&__heading {
		margin-bottom: 42px;
		font-weight: bold;
	}
}

.chartDescription {
	width: 470px;
	margin-left: -16px;

	@include rwdBreakpoints.mobile {
		width: auto;
		margin-left: 0;
	}

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
