@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";
@use "../../constants/zIndex";
@use "../../constants/wellness/bgColors";
@use "../../utils/wellness/glow";

.bmi {
	$riskSize: 668px;

	margin-bottom: 38px;
	padding: 39px 0 96px;
	position: relative;
	z-index: zIndex.$decoratorImg;

	@include rwdBreakpoints.mobile {
		padding: 0;
	}

	&::before { // background color
		content: "";
		border-bottom-left-radius: borders.$radiusM;
		position: absolute;
		top: 0;
		right: calc(((100vw - #{sizes.$contentWidth}) / 2) * -1);
		bottom: 0;
		left: 178px;
		z-index: 1;
		background-color: bgColors.$blockBg;

		@include rwdBreakpoints.lestThanContentSize {
			right: 0;
		}

		@include rwdBreakpoints.mobile {
			display: none;
		}
	}

	&::after { // background img
		content: "";
		height: 705px;
		position: absolute;
		right: -233px;
		bottom: 24px;
		left: $riskSize + 30px;
		z-index: 2;
		background-image: url("../img/backgrounds/summary2.png");
		background-position: left center;
		background-size: cover;
		background-repeat: no-repeat;

		@include rwdBreakpoints.mobile {
			display: none;
		}
	}

	&__heading {
		$glowSize: 440px;
		$glowVisibleSize: 240px;
		$top: -((($glowSize - $glowVisibleSize) / 2) + $glowVisibleSize);
		$left: -58px;

		margin-bottom: 47px;
		position: relative;
		z-index: 2;

		@include glow.glow($size: $glowSize, $top: $top, $left: $left, $centering: false, $color: colors.$blue-300);

		@include rwdBreakpoints.mobile {
			margin-bottom: 26px;

			&::before {
				height: 156px;
				mask-position: left bottom;
				top: -66px;
			}
		}
	}

	&__risk {
		width: $riskSize;
		position: relative;
		z-index: 2;

		@include rwdBreakpoints.mobile {
			width: auto;
		}
	}
}
