@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/wellness/bgColors";

.consultantSquareBox {
	$paddingV: 100px;
	$paddingV-mobile: 28px;
	$imgSize-mobile: 100px;

	margin-bottom: 50px;
	padding: 32px $paddingV 39px;
	border-radius: borders.$radiusM;
	position: relative;
	background-color: bgColors.$blockBg;

	&--onRight {
		@include rwdBreakpoints.desktop {
			width: 569px;
			align-self: flex-end;
		}
	}

	@include rwdBreakpoints.mobile {
		margin-top: $imgSize-mobile / 2;
		margin-bottom: 36px;
		padding: 57px $paddingV-mobile 16px;
	}

	@include rwdBreakpoints.desktop {
		&--imgOnRight {
			width: auto;
			margin-right: 199px;
		}

		&--withMainHeading {
			margin-top: 118px;
		}
	}

	&__mainHeading {
		position: absolute;
		top: -59px;
		left: 0;

		@include rwdBreakpoints.mobile {
			display: none;
		}
	}

	&__heading {
		margin-bottom: 21px;
	}

	&__imgContainer {
		border-radius: 50vh;
		position: absolute;
		top: -47px;
		left: -105px;
		box-shadow: shadows.$redGlow;

		@include rwdBreakpoints.desktop {
			.consultantSquareBox--imgOnRight & {
				top: -78px;
				right: -100px;
				left: auto;
			}
		}

		@include rwdBreakpoints.mobile {
			top: -#{$imgSize-mobile / 2};
			left: 0;
		}
	}

	&__img {
		@include rwdBreakpoints.desktop {
			.consultantSquareBox--imgOnRight & {
				width: 200px;
				height: 200px;
			}
		}

		@include rwdBreakpoints.mobile {
			width: $imgSize-mobile;
			height: $imgSize-mobile;
		}
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
