@use "../../constants/sizes";
@use "../../constants/zIndex";
@use "../../system/helpers/rwdBreakpoints";

.decoratorImg {
	display: flex;
	flex-direction: column;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: calc(50% + 117px);
		bottom: -20px;
		left: calc(((100vw - #{sizes.$contentWidth}) / 2) * -1);
		z-index: zIndex.$decoratorImg;
		background-image: url("../img/backgrounds/metabolism.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top right;

		@include rwdBreakpoints.lestThanContentSize {
			left: -#{sizes.$mobilePadding};
		}

		@include rwdBreakpoints.mobile {
			display: none;
		}
	}

	.risksScrollable,
	.consultantSquareBox {
		position: relative;
		z-index: zIndex.$decoratorImg + 1;
	}
}
