@use "../../system/tokens/colors";
@use "../../utils/imageReplacement";

.dots {
	display: flex;
	flex-direction: row;

	&__dot {
		$size: 8px;

		width: $size;
		height: $size;
		border-radius: 50%;

		+ .dots__dot {
			margin-left: $size;
		}
	}

	&__link {
		display: block;
		width: inherit;
		height: inherit;
		border-radius: 50%;
		background-color: colors.$gray-600;
		font-size: 0;

		&--isActive {
			background-color: colors.$primary-500;
		}
	}
}
