@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/tokens/typography";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";
@use "../../utils/wellness/glow";

$genesBoxPaddingV: 100px;

.genesBox {
	margin-bottom: 50px;
	padding: 0 $genesBoxPaddingV;
	position: relative;

	@include rwdBreakpoints.mobile {
		margin-bottom: 0;
		padding: 0 sizes.$mobilePadding;
	}

	&--isExpanded {
		padding-bottom: 74px;
		border-radius: borders.$radiusM;
		background-color: colors.$white;
		box-shadow: shadows.$big;
	}
}

.genesSumUp {
	display: flex;
	max-width: 570px;
	height: 151px;
	margin: 0 auto;
	padding: 0 23px 0 30px;
	border-radius: borders.$radiusM;
	align-items: center;
	justify-content: space-between;
	background-color: colors.$white;
	box-shadow: shadows.$big;

	@include glow.glow(
		$size: 566px,
		$color: colors.$blue-300,
		$top: -177px,
		$left: 50%,
		$centering: false,
	);

	&::before {
		margin-left: -70px;
	}

	.genesBox--isExpanded & {
		box-shadow: none;

		&::before {
			@include rwdBreakpoints.desktop {
				height: 177px;
			}
		}
	}

	&__heading {
		width: 190px;
	}

	&__score {
		margin-bottom: 0;
		text-align: right;
	}

	&__scoreValue {
		display: block;
		margin-bottom: -10px;
		font-size: 69px;
		line-height: 100%;

		.genesBox--isExpanded & {
			margin-bottom: 14px;
		}
	}

	&__expander {
		.genesBox--isExpanded & {
			position: absolute;
			right: $genesBoxPaddingV;
			bottom: 39px;

			@include rwdBreakpoints.mobile {
				right: sizes.$mobilePadding;
			}
		}
	}
}

.genesList {
	display: none;

	.genesBox--isExpanded & {
		display: block;
	}

	.breakingLine {
		margin-top: 0;
		margin-bottom: 35px;
	}
}
