@use "../../system/helpers/rwdBreakpoints";
@use "../../utils/iconBg";
@use "../../constants/wellness/bgColors";

.iconTextSection {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: flex-start;

	@include iconBg.iconBg(
		$bgColor: bgColors.$blockBg,
		$left: auto,
	);

	@include rwdBreakpoints.mobile {
		&:not(:last-of-type) {
			margin-bottom: 27px;
		}
	}


	&::after {
		right: 12px;
	}

	&.icon {
		&-diet {
			&::before {
				top: -7px;
				right: 5px;
			}
		}

		&-lifestyle {
			&::before {
				width: 51px;
				height: 43px;
				top: -1px;
				right: 6px;
			}
		}

		&-family {
			&::before {
				width: 42px;
				height: 40px;
				margin-right: 0;
				top: 11px;
				right: 10px;
			}
		}
	}

	&__heading {
		display: flex;
		height: 62px;
		margin-bottom: 5px;
		padding-top: 11px;
		align-items: center;

        @include rwdBreakpoints.phone { // stylelint-disable-line
            padding-left: 85px;
            position: relative;
        }

	}

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
