@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/tokens/typography";
@use "../../utils/wellness/glow";

.layerBox {
	margin-bottom: 64px;
	padding: 48px 70px 128px;
	border-radius: borders.$radiusM;
	background-color: colors.$white;
	position: relative;
	box-shadow: shadows.$big;
	text-align: center;

	@include glow.glow(
		$size: 566px,
		$color: colors.$blue-300,
		$top: -177px,
		$left: 50%,
		$centering: false,
	);

	&::before {
		margin-left: -70px;
	}

	&__heading {
		margin-bottom: 42px;
	}

	&__subHeading {
		margin-bottom: 19px
	}

	&__intro {
		margin-bottom: 28px;
	}
}
