@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";
@use "../../constants/wellness/bgColors";

.layout-2sections {
	$blockWidth: sizes.$contentWidth / 2;
	$sectionOffset: calc(((100vw - #{sizes.$contentWidth}) / 2) * -1);
	$lightSectionOffset: 86px;
	$imgHeight: 188px;

	display: flex;
	margin-bottom: 52px;
	flex-direction: row;

	@include rwdBreakpoints.mobile {
		flex-direction: column;
	}

	&__darkSection {
		display: flex;
		width: $blockWidth;
		margin-bottom: 50px;
		padding: 39px 115px $imgHeight + 52px 0;
		flex-direction: column;
		position: relative;
		z-index: 1;

		@include rwdBreakpoints.mobile {
			width: auto;
			margin-bottom: -83px;
			padding: 39px 0 99px;
		}

		&::before {
			content: "";
			border-top-right-radius: borders.$radiusM;
			border-bottom-right-radius: borders.$radiusM;
			position: absolute;
			top: 0;
			right: -200px;
			bottom: 0;
			left: $sectionOffset;
			z-index: -1;
			background-color: bgColors.$blockBg;

			@include rwdBreakpoints.lestThanContentSize {
				left: -#{sizes.$mobilePadding};
			}
		}

		> p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__lightSection {
		width: $blockWidth + $lightSectionOffset;
		margin: 50px 0 0 -#{$lightSectionOffset};
		padding: 40px 0 34px 100px;
		position: relative;
		z-index: 2;

		@include rwdBreakpoints.mobile {
			width: auto;
			margin: 0;
			padding-left: sizes.$mobilePadding;

			.iconBlock {
				--leftPadding: 84px;
			}
		}

		&::before {
			content: "";
			border-top-left-radius: borders.$radiusM;
			border-bottom-left-radius: borders.$radiusM;
			position: absolute;
			top: 0;
			right: $sectionOffset;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-color: colors.$white;
			box-shadow: shadows.$big;

			@include rwdBreakpoints.lestThanContentSize {
				right: -#{sizes.$mobilePadding};
			}
		}

		> p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__mainHeading {
		margin: 0 0 35px 3px;
	}

	&__heading {
		margin: 0 0 16px 3px;
		font-weight: bold;
	}

	&__imgContainer {
		overflow: hidden;
		height: $imgHeight;
		position: absolute;
		bottom: 0;
		left: $sectionOffset;
		right: $lightSectionOffset;

		@include rwdBreakpoints.lestThanContentSize {
			left: -#{sizes.$mobilePadding};
		}

		@include rwdBreakpoints.mobile {
			display: none;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.iconBlock {
		padding-top: 14px;

		&::after {
			left: -14px;

			@include rwdBreakpoints.mobile {
				left: 0;
			}
		}
	}

	.icon {
		&-cholesterol {
			&::before {
				top: 13px;
				left: 17px;

				@include rwdBreakpoints.mobile {
					left: 31px;
				}
			}
		}

		&-practice {
			&::before {
				top: 15px;
				left: 19px;

				@include rwdBreakpoints.mobile {
					left: 36px;
				}
			}
		}
	}
}
