@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";

$contentLeftPadding: 100px;

.metabolism {
	$sectionRightOffset: calc((100vw - #{sizes.$contentWidth}) / 2);
	$bottomPadding: 38px;

	overflow: hidden;
	width: calc(#{$sectionRightOffset} + #{sizes.$contentWidth});
	margin-bottom: 82px;
	padding: 27px 0 $bottomPadding $contentLeftPadding;
	border-bottom-left-radius: borders.$radiusM;
	background: colors.$white;
	box-shadow: shadows.$big;

	@include rwdBreakpoints.lestThanContentSize {
		width: auto;
		margin-right: -#{sizes.$mobilePadding};
		margin-left: -#{sizes.$mobilePadding};
	}

	@include rwdBreakpoints.mobile {
		overflow: visible;
		margin-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		padding-top: 14px;
		padding-bottom: 0;
		padding-left: 0;
		background: transparent;
		box-shadow: none;

		&::before {
			content: "";
			height: 260px;
			border-bottom: 1px solid colors.$gray-500;
			background-color: colors.$white;
			position: absolute;
			top: 0;
			left: -#{sizes.$mobilePadding};
			right: -#{sizes.$mobilePadding};
			z-index: -1;
			box-shadow: shadows.$big-lite;
		}
	}

	.filters {
		right: $sectionRightOffset;

		@include rwdBreakpoints.lestThanContentSize {
			right: sizes.$mobilePadding;
		}
	}

	.showAll {
		position: absolute;
		right: $sectionRightOffset;
		bottom: $bottomPadding + 24px;

		@include rwdBreakpoints.lestThanContentSize {
			right: sizes.$mobilePadding;
		}

		@include rwdBreakpoints.mobile {
			bottom: 6px;
		}
	}
}
