@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";
@use "../../constants/zIndex";
@use "../../constants/wellness/bgColors";

.nutrition {
	padding-top: 31px;
	padding-bottom: 1px;
	position: relative;
	z-index: zIndex.$decoratorImg + 1;

	@at-root .risksScrollable--isInactive#{&} {
		padding-bottom: 66px;

		@include rwdBreakpoints.mobile {
			margin-bottom: 45px;
			padding-bottom: 0;
		}
	}

	@include rwdBreakpoints.lestThanContentSize {
		width: auto;
	}

	@include rwdBreakpoints.mobile {
		padding: 0;
	}

	&::before { // background
		content: "";
		border-top-right-radius: borders.$radiusM;
		border-bottom-right-radius: borders.$radiusM;
		position: absolute;
		top: 0;
		right: 169px;
		bottom: 0;
		left: calc(((100vw - #{sizes.$contentWidth}) / 2) * -1);
		z-index: 1;
		background-color: bgColors.$blockBg;

		@include rwdBreakpoints.lestThanContentSize {
			left: -#{sizes.$mobilePadding};
		}

		@include rwdBreakpoints.mobile {
			display: none;
		}
	}

	&__heading {
		margin-bottom: 47px;
		position: relative;
		z-index: 2;

		@include rwdBreakpoints.mobile {
			margin-bottom: 26px;
		}
	}

	.showAll {
		right: 218px;
		bottom: 21px;

		@include rwdBreakpoints.mobile {
			bottom: -36px;
			right: sizes.$mobilePadding;
		}
	}

	.filters {
		right: 218px;
	}
}
