@use "../../system/tokens/typography";
@use "../../system/helpers/rwdBreakpoints";

.references {
	margin-bottom: 36px;

	@include rwdBreakpoints.desktop {
		font-size: typography.$text-info-textSize;
		line-height: typography.$text-info-lineSize;
	}

	&__mainHeading {
		margin-bottom: 17px;
	}

	&__heading {
		font-weight: bold;
	}

	p,
	ul {
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@include rwdBreakpoints.mobile {
		.icon-external {
			&::after {
				display: none;
			}
		}
	}
}
