@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";
@use "../../constants/zIndex";
@use "../../constants/wellness/bgColors";
@use "../../utils/wellness/glow";
@use "../../utils/notSummary";
@use "../../components/risks";
@use "../../system/tokens/colors";
@use "../../basis/settings";
@use "../../system/tokens/typography";
@use "../../elements/link";

$highScaleAccentColor: colors.$red-500;
$highBaseColor: colors.$red-800;
$highAccentColor: colors.$red-100;
$mediumScaleAccentColor: colors.$yellow-500;
$mediumBaseColor: colors.$yellow-700;
$mediumAccentColor: colors.$yellow-100;
$lowScaleAccentColor: colors.$green-500;
$lowBaseColor: colors.$green-800;
$lowAccentColor: colors.$green-100;
$risksMarginBottom-phone: 47px;

.resultSection {
	$leftOffset: 500px;
	$sectionWidth: calc((100vw - #{sizes.$contentWidth}) / 2 + #{sizes.$contentWidth - $leftOffset});
	$contentWidth: 470px;
	$paddingLeft: 99px;
	$paddingRight: calc(#{$sectionWidth} - #{$contentWidth + $paddingLeft});
	$contentZindex: 2;

	overflow: hidden;
	width: $sectionWidth;
	margin: -156px 0 sizes.$sectionsVerticalSpacing $leftOffset;
	padding: 27px $paddingRight 38px $paddingLeft;
	border-top-left-radius: borders.$radiusM;
	border-bottom-left-radius: borders.$radiusM;
	position: relative;
	z-index: zIndex.$subTabLead + 1;
	background: bgColors.$blockBg;

	@include rwdBreakpoints.lestThanContentSize {
		padding-right: 169px;
	}

	@include notSummary.notSummary {
		width: auto;
		margin: -80px -#{sizes.$mobilePadding} 0 28px;
		padding: 21px 28px 26px;
		box-shadow: shadows.$big-xLite;

		&::before {
			display: none;
		}

		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.expandableContent__expanderContainer {
			background-color: bgColors.$blockBg;
		}
	}

	@include glow.glow($size: 488px, $centering: false, $left: 338px, $fade: 0.6, $color: var(--resultTypeColor));

	&--high {
		--colorAccent: #{$highAccentColor};
		--colorBase: #{$highBaseColor};
		--colorScaleAccent: #{$highScaleAccentColor};
		--resultTypeColor: #{$highScaleAccentColor};
		--riskArea: high;
		--riskBar: linear-gradient(-270deg, #{colors.$gray-400} 50%, var(--colorScaleAccent) 100%);
	}

	&--medium {
		--colorAccent: #{$mediumAccentColor};
		--colorBase: #{$mediumBaseColor};
		--colorScaleAccent: #{$mediumScaleAccentColor};
		--resultTypeColor: #{$mediumScaleAccentColor};
		--riskArea: medium;
		--riskBar: linear-gradient(270deg, #{colors.$gray-400} 0%, var(--colorScaleAccent) 50%, #{colors.$gray-400} 100%);
	}

	&--low {
		--colorAccent: #{$lowAccentColor};
		--colorBase: #{$lowBaseColor};
		--colorScaleAccent: #{$lowScaleAccentColor};
		--resultTypeColor: #{$lowScaleAccentColor};
		--riskArea: low;
		--riskBar: linear-gradient(270deg, #{colors.$gray-400} 50%, var(--colorScaleAccent) 100%);
	}

	&::before {
		bottom: -136px;
	}

	> * {
		z-index: $contentZindex;
	}

	&__heading,
	.riskBox__score {
		margin-bottom: 30px;
	}

	&__description {
		margin-bottom: 0;

		@include notSummary.notSummary {
			-webkit-line-clamp: 4;
		}
	}
}
