@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";

$contentLeftPadding: 100px;

.risksScrollable {
	.filters {
		position: absolute;
		top: 44px;
		right: 0;
		z-index: 2;

		@include rwdBreakpoints.mobile {
			margin-bottom: 19px;
			position: static;
		}

		@at-root .risksScrollable--isInactive#{&} {
			display: none;
		}
	}

	&__heading {
		margin-bottom: 36px;

		@include rwdBreakpoints.lestThanContentSize {
			margin-bottom: 22px;
		}
	}

	.dots {
		width: max-content;
		position: relative;
		left: (sizes.$contentWidth / 2) - $contentLeftPadding;
		z-index: 2;
		transform: translateX(-50%);

		@include rwdBreakpoints.lestThanContentSize {
			left: calc(50% - #{$contentLeftPadding / 2});
		}

		@at-root .risksScrollable--isInactive#{&},
		.risksScrollable--isEmpty & {
			display: none;
		}
	}

	.showAll {
		position: absolute;
		z-index: 2;

		&::after {
			.riskScroller--isExpanded ~ & {
				display: none;
			}
		}

		@at-root .risksScrollable--isInactive#{&},
		.risksScrollable--isEmpty & {
			display: none;
		}
	}

	&__emptyMsg {
		display: none;
		width: auto;
		height: 408px;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;

		.risksScrollable--isEmpty & {
			display: flex;
		}

		@include rwdBreakpoints.mobile {
			height: 132px;
		}
	}
}

.riskScroller {
	$gap: 30px;
	$gap-mobile: 16px;

	display: grid;
	width: max-content;
	margin-bottom: 45px;
	grid-auto-flow: column;
	grid-column-gap: $gap;
	position: relative;
	z-index: 2;
	transition: transform 0.1s ease-in;

	@include rwdBreakpoints.mobile {
		width: auto;
		grid-auto-flow: row;
		grid-row-gap: $gap-mobile;
	}

	.risksScrollable--isInactive & {
		width: auto;
		margin-bottom: 0;
	}

	.riskBox {
		@include rwdBreakpoints.desktop {
			width: 269px;

			.risksScrollable--isInactive & {
				width: auto;
				min-width: 269px;
			}
		}

		@include rwdBreakpoints.mobile {
			&.overcount {
				display: none;
			}
		}
	}

	&--isExpanded {
		@include rwdBreakpoints.desktop {
			width: sizes.$contentWidth - $contentLeftPadding;
			grid-row-gap: $gap;
			grid-auto-flow: initial;
			grid-template-columns: repeat(3, 1fr);
			transition: none;

			.riskBox {
				width: auto;
			}
		}

		@include rwdBreakpoints.mobile {
			.riskBox {
				&.overcount {
					display: grid;
				}
			}
		}
	}
}
