@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../system/helpers/rwdBreakpoints";
@use "../../constants/sizes";
@use "../../constants/zIndex";
@use "../../utils/notSummary";

.subTabLead {
	$contentWidth: sizes.$contentWidth / 2;
	$imgWidth: sizes.$contentWidth - $contentWidth;
	$contentPaddingLeft: 100px;
	$contentPaddingRight: 115px;

	padding: 112px $imgWidth + $contentPaddingRight 34px $contentPaddingLeft;
	position: relative;
	z-index: zIndex.$subTabLead;
	border-bottom-left-radius: borders.$radiusM;
	border-bottom-right-radius: borders.$radiusM;
	background-color: colors.$white;
	box-shadow: shadows.$big;

	@include rwdBreakpoints.lestThanContentSize {
		margin-left: -#{sizes.$mobilePadding};
	}

	@include notSummary.notSummary {
		padding: 15px 28px 100px;
		margin-left: 0;
		background-color: transparent;

		&:before {
			content: "";
			border-radius: borders.$radiusM;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-color: colors.$white;
		}
	}

	&__heading {
		margin-bottom: 22px;
	}

	&__contentContainer {
		position: relative;
		-webkit-line-clamp: 6;

		@include notSummary.notSummary {
			-webkit-line-clamp: 4;
		}
	}

	&__imgContent {
		content: "";
		overflow: hidden;
		position: absolute;
		top: 0;
		right: calc(((100vw - #{sizes.$contentWidth}) / 2) * -1);
		bottom: 0;
		left: $contentWidth;

		@include rwdBreakpoints.lestThanContentSize {
			right: -#{sizes.$mobilePadding};
		}

		@include notSummary.notSummary {
			top: 108px;
			bottom: -65px;
			left: -#{sizes.$mobilePadding};
			z-index: -2;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
