<text:p  text:style-name="pagebreak"></text:p>
<table:table table:style-name="table">
  <table:table-column table:style-name="Table1" />
    <table:table-row>
      <table:table-cell table:style-name="TableAtt" office:value-type="string">
        <text:p text:style-name="H3">Appendix A</text:p>
      </table:table-cell>
    </table:table-row>

{# Here is header #}
  <table:table-row>
    <table:table-cell table:style-name="TableAtt" office:value-type="string">
    <text:p>Custom gene panel information</text:p>
    <text:p>Number of genes: {{panel_phenotypes|length + panel_diseases|length}}</text:p>
    {% if phenotypes is defined and phenotypes|length%}
      <text:p>Phenotypes:</text:p>
      {% for phenotype in phenotypes %}
          <text:p>{{phenotype}}</text:p>
      {% endfor %}
    {% endif %}
    </table:table-cell>
  </table:table-row>
  <table:table-row>
    <table:table-cell table:style-name="TableAtt" office:value-type="string">

{# There are a lists of phenortpes and diseases #} 
    {% if panel_phenotypes is defined and panel_phenotypes | length %}
      
      <text:p>List of genes from phenotypes panel:</text:p>
      <text:p>
      {# tutaj później będziemy sortować geny #}
      {% for gene in panel_phenotypes | sort(attribute='name') %} 
        {{gene.name}}{% if not loop.last %},{%endif%}
      {% endfor %}
      </text:p>
    {% endif %}

    {% if panel_diseases is defined and panel_diseases|length %}
      <text:p>List of genes from diseases panel:</text:p>
      {% set disease_names = panel_diseases|unique(attribute='type') %}
      {%for disease_name in disease_names%}
        <text:p> <text:span text:style-name="b">{{disease_name.type}}:</text:span> 
        {% for gene in panel_diseases %}
          {% if gene.type ==  disease_name.type %}{{gene.name}}{% if not loop.last %},{%endif %}{% endif %}
        {% endfor %}</text:p>
      {% endfor %}
    {% endif %}
    </table:table-cell>
  </table:table-row>
</table:table>
<text:p></text:p>
