<text:p  text:style-name="pagebreak"></text:p>
<table:table table:style-name="table">
  <table:table-column table:style-name="Table1" />
    <table:table-row>
      <table:table-cell table:style-name="TableA1" office:value-type="string">
        <text:p text:style-name="H3">Appendix B</text:p>
      </table:table-cell>
    </table:table-row>
  <table:table-row>
    <table:table-cell table:style-name="TableA1" office:value-type="string">
    <text:p>
    Variants classification according to the ACMG (American College of Medical Genetics and Genomics) criteria. (<text:span text:style-name="i">American College of Medical Genetics and Genomic</text:span>). </text:p>
    </table:table-cell>
  </table:table-row>
<table:table-row>
  <table:table-cell table:style-name="TableA1" office:value-type="string">
      <text:p>
      <text:tab/>Step1: Evaluation whether variant fulfills ACMG minor categories criteria
For each variant, it was analyzed whether it can be classified into any of the 16 adjuvant categories
 (including 9 categories supportive of variant pathogenic effect). 
 At this stage guidelines described in [1, 2] were applied. 
 The minor categories criteria concern different variant features, 
 which may support its pathogenic or benign character. 
 The following characteristics are analyzed:</text:p>
      <text:p><text:span text:style-name="b">1)</text:span> consequences that given variant has on a particular gene and/or on gene protein product (mutation type, e.g. loss of function, missense); </text:p>
      <text:p><text:span text:style-name="b">2)</text:span> whether detected type of mutation is a validated mechanism of disease for the affected gene; </text:p>
      <text:p><text:span text:style-name="b">3)</text:span> evolutionary conservation of the mutated site; </text:p>
      <text:p><text:span text:style-name="b">4)</text:span> variant frequency in populations (gnomAD and MITOMAP databases); </text:p>
      <text:p><text:span text:style-name="b">5)</text:span> ClinVar database information about pathogenicity of the same or similar variants; </text:p>
      <text:p><text:span text:style-name="b">6)</text:span> UniProt database information about variant effect in functional studies. </text:p>
<text:p>
  <text:tab/>Step2: Variant assignment to one of the main ACMG categories
At this stage, the variant was given points for fulfilling minor categories criteria (positive for the pathogenic minor categories and negative for benign categories). The final score (weighted sum of points) was used to classify variant as pathogenic, likely pathogenic, benign, likely benign or of uncertain significance.
  </text:p>
  <text:p></text:p>
  <text:p>
  Details of the scores combining algorithms are described in [3]</text:p>
  <text:p><text:span text:style-name="b">[1]</text:span> S. Richards et al., “Standards and Guidelines for the Interpretation of Sequence Variants: A Joint Consensus Recommendation of the American College of Medical Genetics and Genomics and the Association for Molecular Pathology,” Genet. Med. Off. J. Am. Coll. Med. Genet., vol. 17, no. 5, pp. 405–424, May 2015 </text:p>
  <text:p><text:span text:style-name="b">[2]</text:span> A. N. Abou Tayoun et al., “Recommendations for interpreting the loss of function PVS1 ACMG/AMP variant criterion,” <text:span text:style-name="i">Hum. Mutat.</text:span>, vol. 39, no. 11, pp. 1517–1524, 2018. Online: <text:a xlink:type="simple" xlink:href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4544753/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4544753/</text:a> </text:p>
    <text:p><text:span text:style-name="b">[3]</text:span> S. V. Tavtigian et al., “Modeling the ACMG/AMP Variant Classification Guidelines as a Bayesian Classification Framework,” Genet. Med. Off. J. Am. Coll. Med. Genet., vol. 20, no. 9, pp. 1054–1060, Sep. 2018. </text:p>
<text:p></text:p>

      <text:p>Analysis of the following ACMG minor categories was implemented (names as in [1]):</text:p>
      <text:p><text:span text:style-name="i">PVS1, PS1, PS3, PM1, PM2, PM4, PM5, PP2, PP3 (pathogenic categories)</text:span>(categories indicating pathogenity of the variant),</text:p>
      <text:p><text:span text:style-name="i">BA1, BS2, BP1, BP3, BP4, BP5, BP7 (benign categories)</text:span> (categories indicating the lack of pathogenity of the variant).</text:p>
    </table:table-cell>
  </table:table-row>
  <table:table-row>
    <table:table-cell table:style-name="TableA1" office:value-type="string">
    <text:p>Filtering </text:p>
    </table:table-cell>
  </table:table-row>
<table:table-row>
  <table:table-cell table:style-name="TableA1" office:value-type="string">
    <text:p>
    The variants in the tables meet the following criteria:</text:p>
    <text:p> <text:tab/>- the effect of the variant on the protein product predicted by the SnpEff algorythm is high or moderate,</text:p>
    <text:p><text:tab/>- the maximum allele frequency in populations in ExAC and gmomAD project lower than 5%.</text:p>
    </table:table-cell>
  </table:table-row>
</table:table>
<text:p></text:p>
