 
{% include 'iseq-styles/main.style-template.jinja' %}

<office:body>
<office:text text:use-soft-page-breaks="true"> 

{% include 'iseq-styles/logo.template.jinja' %}


{% include '1-header-data-template.jinja' %}

{# This loop creates three main tables for pathogenic, likely patogenic and uncertain variants: #}
{% for variants in [[variants_pathogenic, "pathogenic"], [variants_likely_pathogenic, "likely pathogenic"], [variants_uncertain, "uncertain"]] %}
  {% if variants[0][0] is defined and variants[0][0]|length%}
    {% with var_table_header=variants[1], var_variants_list=variants[0] %}
      {% include '2-table-variants-template.jinja' %}
    {% endwith %}
  {% else %}
    {% with var_table_header=variants[1]%}
      {% include '2-table-no-variants-template.jinja' %}
    {% endwith %}
  {% endif %}
{% endfor %}


{% include '3-legend-methods-limitations.jinja' %}

{% include 'attachment_A-template.jinja' %}
{% include 'attachment_B-template.jinja' %}
{% include 'attachment_C-template.jinja'%}
</office:text>
</office:body>
</office:document-content>
