@use "../constants/sizes";
@use "../system/helpers/rwdBreakpoints";

.centeringContainer {
	width: sizes.$contentWidth;
	margin: 0 auto;

	@include rwdBreakpoints.lestThanContentSize {
		width: auto;
		padding-right: sizes.$mobilePadding;
		padding-left: sizes.$mobilePadding;
	}
}
