@use "../system/tokens/colors";
@use "../system/tokens/typography";
@use "../system/helpers/rwdBreakpoints";

.chart {
	$genotypeColor: colors.$red-500;
	$geneticColor: colors.$red-300;
	$environmentColor: colors.$gray-400;
	$configs: (
		chart: (
			svgSize: 150px,
			strokeWidth: 12px,
			mainScorePercentage: var(--genotypeScore),
			mainScoreBackgroundColor: $environmentColor,
			mainScoreForegroundColor: $genotypeColor,
			secondaryScorePercentage: var(--geneticScore),
			secondaryScoreForegroundColor: $geneticColor,
		)
	);
	$pi: 3.14;

	@mixin scoreBase() {
		@extend .chart__circleBg; //stylelint-disable-line scss/at-extend-no-missing-placeholder
		stroke-dashoffset: 0;
		stroke-linecap: round;
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
	}

	display: flex;

	@include rwdBreakpoints.mobile {
		width: max-content;
		margin: 0 auto;
	}

	@include rwdBreakpoints.phone-medium {
		margin: 0;
	}


	@each $chart, $param in $configs {
		$secondaryOffset: 30px + map-get($param, strokeWidth);
		$cMain: (map-get($param, svgSize) - map-get($param, strokeWidth)) * $pi;
		$cSecondary: (map-get($param, svgSize) - map-get($param, strokeWidth) - $secondaryOffset) * $pi;
		$cMainOffSet: calc((#{map-get($param, mainScorePercentage)}/100)*#{$cMain});
		$cSecondaryOffSet: calc((#{map-get($param, secondaryScorePercentage)}/100)*#{$cSecondary});

		&__#{$chart} {
			width: map-get($param, svgSize);
			height: map-get($param, svgSize);
			margin: 10px 68px 0 0;
		}

		&__img {
			width: 100%;
			height: 100%;
		}

		&__circleBg {
			r: (map-get($param, svgSize) - map-get($param, strokeWidth))/2;
			cx: 50%;
			cy: 50%;
			fill: none;
			stroke: map-get($param, mainScoreBackgroundColor);
			stroke-width: map-get($param, strokeWidth);
		}

		&__mainScore {
			@include scoreBase;
			stroke: map-get($param, mainScoreForegroundColor);
			stroke-dasharray: $cMainOffSet $cMain;
		}

		&__secondaryScore {
			@include scoreBase;
			r: (map-get($param, svgSize) - map-get($param, strokeWidth) - $secondaryOffset)/2;
			stroke: map-get($param, secondaryScoreForegroundColor);
			stroke-dasharray: $cSecondaryOffSet $cSecondary;
		}
	}

	&__legend {
		@include rwdBreakpoints.phone-medium {
			margin-top: -14px;
		}
	}

	&__legendItem {
		width: auto;
		font-size: typography.$text-info-textSize;
		line-height: typography.$text-info-lineSize;

		&:nth-of-type(n+2) {
			margin-top: 28px;
		}

		&--genotype {
			--scoreColor: #{$genotypeColor};
		}

		&--genetic {
			--scoreColor: #{$geneticColor};
		}

		&--environment {
			--scoreColor: #{$environmentColor};
		}
	}

	&__legendScore {  
		display: block;
		width: auto;
		margin-bottom: -1px;
		font-size: typography.$text-medium-textSize;
		line-height: typography.$text-medium-lineSize;

		&::before {
			$size: 12px;

			content: "";
			display: inline-block;
			width: $size;
			height: $size;
			margin-right: 10px;
			border-radius: $size / 2;
			background-color: var(--scoreColor);
		}
	}
}
