@mixin iconBase($width, $height, $name, $color: currentColor, $align: "center", $pseudoEl: "before", $margin: 4px, $rotation: 0, $containerSettings: true) {

	@if ($containerSettings == true) {
		display: inline-flex;
		align-items: #{$align};
	}

	&:#{$pseudoEl} {
		content: "";
		display: inline-block;
		width: $width;
		height: $height;
		background-color: $color;
		mask-image: url("../img/icons/#{$name}.svg");
		mask-size: cover;

		@if $pseudoEl == "before" and  $margin != 0 {
			margin-right: $margin;
		} @else if $pseudoEl == "after" and  $margin != 0 {
			margin-left: $margin;
		}

		@if $rotation != 0 {
			transform: rotate(#{$rotation}deg);
		}
	}
}

.icon {
	&-arrowLeft {
		@include iconBase($width: 10px, $height: 16px, $name: "arrow");
	}

	&-arrowRight {
		@include iconBase($width: 10px, $height: 16px, $name: "arrow", $rotation: 180);
	}

	&-arrowDown {
		@include iconBase($width: 10px, $height: 16px, $name: "arrow", $pseudoEl: "after", $margin: 6px, $rotation: -90);
	}

	&-arrowUp {
		@include iconBase($width: 10px, $height: 16px, $name: "arrow", $pseudoEl: "after", $margin: 6px, $rotation: 90);
	}

	&-arrowLeftSolid {
		@include iconBase($width: 8px, $height: 6px, $name: "arrowSolid", $rotation: 90);
	}

	&-arrowRightSolid {
		@include iconBase($width: 8px, $height: 6px, $name: "arrowSolid", $rotation: -90);
	}

	&-arrowDownSolid {
		@include iconBase($width: 8px, $height: 6px, $name: "arrowSolid", $pseudoEl: "after", $margin: 6px, $align: "baseline");
	}

	&-arrowUpSolid {
		@include iconBase($width: 8px, $height: 6px, $name: "arrowSolid", $pseudoEl: "after", $margin: 6px, $rotation: 180);
	}

	&-arrowLong {
		@include iconBase($width: 18px, $height: 10px, $name: "arrowLong", $pseudoEl: "after");
	}

	&-download {
		@include iconBase($width: 16px, $height: 16px, $name: "download");
	}

	&-plane {
		@include iconBase($width: 16px, $height: 16px, $name: "plane");
	}

	&-printer {
		@include iconBase($width: 15px, $height: 16px, $name: "printer");
	}

	&-dna {
		@include iconBase($width: 54px, $height: 54px, $name: "dna", $margin: 0);
	}

	&-dna2 {
		@include iconBase($width: 170px, $height: 214px, $name: "dna2", $margin: 0);
	}

	&-lifestyle {
		@include iconBase($width: 50px, $height: 42px, $name: "lifestyle", $margin: 0);
	}

	&-health {
		@include iconBase($width: 40px, $height: 36px, $name: "health", $margin: 0);
	}

	&-docs {
		@include iconBase($width: 48px, $height: 64px, $name: "docs", $margin: 0);
	}

	&-talk {
		@include iconBase($width: 64px, $height: 64px, $name: "talk", $margin: 0);
	}

	&-talk2 {
		@include iconBase($width: 64px, $height: 40px, $name: "talk2", $margin: 0);
	}

	&-family2 {
		@include iconBase($width: 64px, $height: 64px, $name: "family2", $margin: 0);
	}

	&-factory {
		@include iconBase($width: 49px, $height: 54px, $name: "factory", $margin: 0);
	}

	&-salad {
		@include iconBase($width: 41px, $height: 54px, $name: "salad", $margin: 0, $pseudoEl: "after");
	}

	&-senior {
		@include iconBase($width: 23px, $height: 34px, $name: "senior", $margin: 33px, $pseudoEl: "before");
	}

	&-sex {
		@include iconBase($width: 34px, $height: 29px, $name: "sex", $margin: 25px, $pseudoEl: "before");
	}

	&-heartRate {
		@include iconBase($width: 37px, $height: 30px, $name: "heartRate", $margin: 25px, $pseudoEl: "before");
	}

	&-family {
		@include iconBase($width: 34px, $height: 33px, $name: "family", $margin: 25px, $pseudoEl: "before");
	}

	&-drawer {
		@include iconBase($width: 32px, $height: 33px, $name: "drawer", $margin: 26px, $pseudoEl: "before");
	}

	&-cholesterol {
		@include iconBase($width: 36px, $height: 36px, $name: "cholesterol", $margin: 0, $pseudoEl: "before");
	}

	&-diet {
		@include iconBase($width: 43px, $height: 59px, $name: "diet", $margin: 0, $pseudoEl: "before");
	}

	&-medicines {
		@include iconBase($width: 36px, $height: 32px, $name: "medicines", $margin: 24px, $pseudoEl: "before");
	}

	&-practice {
		@include iconBase($width: 36px, $height: 34px, $name: "practice", $margin: 0, $pseudoEl: "before");
	}

	&-race {
		@include iconBase($width: 36px, $height: 34px, $name: "race", $margin: 24px, $pseudoEl: "before");
	}

	&-external {
		@include iconBase($width: 14px, $height: 14px, $name: "external", $pseudoEl: "after");
	}
}
