@use "../system/helpers/rwdBreakpoints";

.layout {
	&-3col {
		display: grid;
		grid-gap: 32px;
		grid-template-columns: repeat(3, auto);

		@include rwdBreakpoints.mobile {
			grid-gap: 10px;
			grid-template-columns: repeat(1, auto);
		}
	}

	&-4col {
		display: grid;
		grid-gap: 80px;
		grid-template-columns: repeat(4, auto);

		@include rwdBreakpoints.mobile {
			grid-gap: 10px;
			grid-template-columns: repeat(1, auto);
		}
	}
}
