@use "../system/tokens/colors";

$linkColorIdle: colors.$blue-500;
$linkColorHover: colors.$primary-400;
$linkColorDisabled: colors.$gray-700;
$linkColorOff: colors.$gray-700;

.link {
	color: $linkColorIdle;
	letter-spacing: 0.08px;

	&:hover {
		color: $linkColorHover;
	}

	&--disabled {
		&,
		&:hover {
			color: $linkColorDisabled;
			cursor: default;
		}
	}

	&--isOff {
		color: $linkColorOff;
	}
}
