@use "../system/tokens/colors";
@use "../system/tokens/typography";

.table {
	width: 100%;
	text-align: left;

	&__heading {
		height: 48px;
		color: colors.$gray-700;
		font-size: typography.$text-info-textSize;
		font-weight: normal;
		line-height: typography.$text-info-lineSize;
	}

	&__cell {
		height: 75px;
		padding: 10px 0;
		border-top: 1px solid colors.$gray-600;
	}

	&__rowHeading {
		font-size: typography.$text-medium-textSize;
		letter-spacing: 0.1px;
		line-height: typography.$text-medium-lineSize;
	}
}
