@use "../system/tokens/colors";
@use "../system/helpers/rwdBreakpoints";
@use "../basis/settings";
@use "../components/tabs";
@use "../constants/sizes";

$columnSize: 430px;
$columnGap: 70px;

.text-2col {
	$sectionWidth: 2 * $columnSize + $columnGap;
	$expanderContainerHeight: 2 * settings.$textPadding;

	width: $sectionWidth;
	margin-bottom: var(--sectionsVerticalSpacing);
	column-width: $columnSize;
	column-count: 2;
	column-gap: $columnGap;

	@include rwdBreakpoints.mobile {
		width: auto;
		column-count: auto;
		column-width: auto;
	}

	&--expandable {
		overflow: hidden;
		max-height: 214px;
		position: relative;

		@include rwdBreakpoints.mobile {
			max-height: 195px + $expanderContainerHeight;
			padding-bottom: $expanderContainerHeight;
		}

		@include rwdBreakpoints.phone {
			max-height: 214px + $expanderContainerHeight;
		}

		&.expandableContent--isExpanded {
			max-height: none;
		}

		ul,
		p {
			&:last-of-type {
				margin-bottom: 0;

				+ ul { // stylelint-disable-line max-nesting-depth
					margin-top: 0;
				}
			}
		}
	}

	&--wideSection {
		@include rwdBreakpoints.desktop {
			$rightPadding: calc(#{sizes.$contentWidth} - #{$sectionWidth} - var(--sectionsHorizontalSpacing));

			width: sizes.$contentWidth;
			margin: var(--sectionsVerticalSpacing) calc(var(--sectionsHorizontalSpacing) * -1);
			padding: 32px $rightPadding 32px var(--sectionsHorizontalSpacing);
			background-color: colors.$gray-400;
		}

		@include rwdBreakpoints.mobile {
			overflow: hidden;
			max-height: 232px + $expanderContainerHeight;
			padding-bottom: $expanderContainerHeight;
			position: relative;
		}

		.text-2col__expanderContainer {
			@include rwdBreakpoints.hideDesktop;
		}

		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__heading {
		margin-bottom: 12px;

		&::before { // icon
			margin-right: 15px;
			flex-shrink: 0;
		}

		&--span {
			margin-bottom: 40px;
			column-span: all;

			@include rwdBreakpoints.phone {
				margin-bottom: 14px;
			}
		}
	}

	&__subheading {
		margin-bottom: 4px;
	}

	&__expanderContainer {
		width: $columnSize;
		height: $expanderContainerHeight;
		padding-top: settings.$textPadding;
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: settings.$backgroundColor;

		@include rwdBreakpoints.mobile {
			width: auto;
			left: 0;
		}
	}

	&__noBreak {
		break-inside: avoid-column;
	}
}

.text-2colAuto {
	column-width: auto;
	column-count: 2;
	column-gap: 40px;

	@include rwdBreakpoints.mobile {
		column-count: auto;
	}
}

.text-autoCol {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	column-gap: 30px;

	@include rwdBreakpoints.mobile {
		grid-auto-flow: row;
	}

	&__block {
		@include rwdBreakpoints.desktop {
			min-height: 234px;
		}

		&:not(:last-of-type) {
			margin-bottom: settings.$defaultLineHeight;
		}

		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__heading {
		margin-bottom: 14px;
		font-weight: bold;
	}
}
