{# This content is to create page numbering. While commented pages do not contain numbers. #}


<style:master-page style:name="Standard" style:page-layout-name="Mpm1-portrait">
  <style:footer>
    <text:p text:style-name="MP1">
      <text:page-number text:select-page="current">1</text:page-number>
      <text:s/>
    </text:p>
  </style:footer>
</style:master-page>



