{# To activate page.style-template you need to uncomment: #}
{% for layout in [{"name": "Mpm1", "width": "11.6929in", "height": "8.2629in", "orientation": "landscape"},
                 {"name": "Mpm1-portrait", "width": "8.50in", "height": "11.6929in", "orientation": "portrait"}] %}

<style:master-page style:name="Standard" style:page-layout-name="{{layout.name}}"/>

<style:page-layout style:name="{{layout.name}}">
      <style:page-layout-properties
        fo:page-width="{{layout.width}}"
        fo:page-height="{{layout.height}}"
        style:num-format="1"
        style:print-orientation="{{layout.orientation}}"
        fo:margin-top="0.7874in"
        fo:margin-bottom="0.7874in"
        fo:margin-left="0.7874in"
        fo:margin-right="0.7874in"
        style:writing-mode="lr-tb"
        style:footnote-max-height="0in">
      <style:footnote-sep
        style:width="0.0071in"
        style:distance-before-sep="0.0398in"
        style:distance-after-sep="0.0398in"
        style:line-style="solid"
        style:adjustment="left"
        style:rel-width="25%"
        style:color="#000000"/>
      </style:page-layout-properties>
      <style:header-style/>
      <style:footer-style/>
    </style:page-layout>
{% endfor %}
