<style:style style:name="IseqTable" style:family="table">
  <style:table-properties table:border-model="collapsing"/>
</style:style>

<style:style style:name="IseqTableColumn" style:family="table-column">
</style:style>

{# When different column width is needed #}
{% for width in range(100) %}
  <style:style style:name="IseqTableColumn{{width}}" style:family="table-column">
    <style:table-column-properties style:rel-column-width="{{width}}*" />
  </style:style>
{% endfor %}


{# When cell with differenc cells is needed #}
{# default is IseqTableCell - defaul color in this design, firs in list below #}
{# Here is place to add some another featers for the cells - inside dictionaries #}
{% for colour in [ {"color":"#ecf0f5", "name": ""},
                  {"color":"#f0b6b6", "name": "Warning"},
                  {"color":"#f05a5a", "name": "Error"} ]
                  %}
                  
  <style:style style:name="IseqTableCell{{colour.name}}" style:family="table-cell">
    <style:table-cell-properties fo:background-color="{{colour.color}}" fo:padding="5pt" fo:border="1.5pt solid #ffffff" />
  </style:style>
{% endfor %} 

<style:style style:name="IseqTableRow" style:family="table-row">
  <style:table-row-properties fo:keep-together="always"/>
</style:style>

{% for fontsize in [ {"size":"12pt", "name": ""},
                  {"size":"22pt", "name": "22pt"} ]
                  %}

  <style:style style:name="IseqTableHeader{{fontsize.name}}" style:family="table-cell">
    <style:table-cell-properties fo:background-color="#7085a1" fo:padding="5pt" fo:border="1.5pt solid #ffffff" />
    <style:text-properties fo:color="#ffffff" fo:font-size="{{fontsize.size}}" fo:font-weight="bold" />
  </style:style>
{% endfor %}

<style:style style:name="IseqTableSubheader" style:family="table-cell">
  <style:table-cell-properties fo:background-color="#bbcbd8" fo:padding="5pt" fo:border="1.5pt solid #ffffff" />
  <style:text-properties fo:font-weight="bold" />
</style:style>



