@use "../../system/tokens/colors";
@use "../../system/tokens/borders";
@use "../../system/tokens/shadows";
@use "../../components/tabs";
@use "../../constants/sizes";
@use "../../system/helpers/rwdBreakpoints";
@use "../../utils/notSummary";

$sectionPadding: 44px;
$phoneBottomMargin: 29px;
$bgZindex: 1;

#header {
	&:not(.header--compact) {
		padding-bottom: $sectionPadding;

		@include rwdBreakpoints.phone {
			padding-bottom: $phoneBottomMargin;
		}
	}
}

.header {
	$imgOffset: 15px;
	$contentSize: sizes.$contentWidth / 2;
	$contentSize-mobile: calc(50% - #{$imgOffset});

	&--compact {
		padding: 17px 0 34px;

		@include notSummary.notSummary {
			padding-bottom: 0;
		}
	}

	&__contentContainer {
		margin-bottom: 33px;
		-webkit-line-clamp: 4;
	}

	&__middleContainer {
		$mobileVpadding: 64px;

		@mixin bgImg {
			background-image: url("../img/backgrounds/summary.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		position: relative;

		&::after {
			content: "";
			width: calc(50vw - #{$imgOffset});
			position: absolute;
			top: 0;
			bottom: -#{tabs.$tabsHeight + $sectionPadding};
			left: $contentSize + $imgOffset;
			background-image: url("../img/backgrounds/summary.jpg");
			background-repeat: no-repeat;
			background-size: cover;

			.header--compact & {
				display: none;
			}

			@include rwdBreakpoints.lestThanContentSize {
				width: $contentSize-mobile;
				left: auto;
				right: -#{sizes.$mobilePadding};
			}

			@include rwdBreakpoints.mobile {
				width: auto;
				top: -90px;
				right: 0;
				bottom: 111px;
				left: 0;
				z-index: $bgZindex;
			}
		}

		@include rwdBreakpoints.mobile {
			#contentContainer:not(.summaryTabIsHidden) & {
				padding: $mobileVpadding sizes.$mobilePadding 0;
			}
		}
	}
	&__content {
		display: flex;
		width: $contentSize - $imgOffset;
		flex-direction: column;

		.header--compact & {
			width: auto;
			flex-direction: row;
		}

		@include rwdBreakpoints.lestThanContentSize {
			width: $contentSize-mobile;
		}

		@include rwdBreakpoints.mobile {
			#contentContainer:not(.summaryTabIsHidden) & {
				width: auto;
				padding: 29px 28px 16px;
				position: relative;
				z-index: $bgZindex + 1;
				background-color: colors.$white;
				border-radius: borders.$radiusM;
				box-shadow: shadows.$big-lite;
			}

			.summaryTabIsHidden & {
				flex-direction: column;
			}
		}
	}

	&__reportNav {
		margin-top: 31px;
		margin-bottom: 110px;
		align-self: flex-end;

		.header--compact & {
			margin-top: 0;
			margin-bottom: 3px;
			order: 2;
			align-self: flex-end;
		}
	}

	&__heading {
		margin-bottom: 19px;

		.header--compact & {
			margin-right: 62px;
			margin-bottom: 0;
			order: 1;
		}

		@include notSummary.notSummary {
			margin-left: 28px;
			margin-right: 0;
		}
	}

	&__backToSummary {
		display: none;
		margin-bottom: 10px;

		@include notSummary.notSummary {
			display: block;
		}
	}
}
