<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Health_web_concept_Health_summary / Health_summary_mobile / Health_web_concept / Health_web_concept_02 /
        Health_summary_mobile</title>
</head>
<body>
<header id="topBar">
    <div class="topBar__content centeringContainer">
        {% if analysis_run == "T-Systems" %}
            <img src="../img/T-Systems-logo.png" width="210px" height="80px" alt=""/>
        {% else %}
            <img src="../img/IntelliseqFlow-logo.png" width="190px" height="50px" alt=""/>
        {% endif %}
        <h2 class="slogan heading-2 hidePhone">Polygenic scores report</h2>
    </div>
</header>
<main id="contentContainer">
    <header id="header" class="centeringContainer">
        <h1 class="heading-0 header__heading">Health report</h1>
        <dl class="patientDetails" data-action-extra="toggleTab">
            <dt class="patientDetails__heading">Name</dt>
            <dd class="patientDetails__detail">{{ sample_info.name + " " + sample_info.surname }}</dd>
            <dt class="patientDetails__heading">Patient ID</dt>
            <dd class="patientDetails__detail">{{ sample_info.patient_id}}</dd>
            <dt class="patientDetails__heading">Report date</dt>
            <dd class="patientDetails__detail">{{ sample_info.report_date}}</dd>
        </dl>
    </header>
    <section class="tabsContent centeringContainer">
        <nav class="tabs" data-action="tabs">
            <ul class="tabs__container">

                <li class="tabs__tab tabs__tab--isActive" data-tab="summary">
                    <a href="#summary" class="tabs__link link" data-action="tabTrigger">Summary</a>
                </li>

                {% for prs_result_key, prs_result_value in models.items() %}

                    {% set model = prs_result_key %}

                    <li class="tabs__tab" data-tab="{{ model }}">
                        <a href="#{{ model }}" class="tabs__link link"
                           data-action="tabTrigger">{{ models.get(model).descriptions.name }}</a>
                    </li>
                {% endfor %}

            </ul>
            <ul class="tabs__scrollers">
                <li class="tabs__scroller tabs__scroller--isInactive icon-arrowLeft" data-action="tabPrev">
                    <a>previous</a></li>
                <li class="tabs__scroller icon-arrowRight" data-action="tabNext"><a>next</a></li>
            </ul>
        </nav>
        <div id="summary" class="tab tab--isVisible">
            <section class="layout-3col risks" style="width:75%">

                {% for prs_result_key, prs_result_value in models.items() %}

                    {% set model = prs_result_key %}
					{% set category = models.get(model).score_model.category %}
                    {% set result = models.get(model).descriptions.results_description.get(category).risk_value %}

                    <a href="#{{ model }}" class="riskBox riskBox--{{ result }}"
                       data-action="linkTabTrigger"> <!-- add  riskBox--isDisabled class for disabled box -->
                        <h2 class="riskBox__heading heading-2">{{ models.get(model).descriptions.name }}</h2>
                        <span class="riskBox__badge">{{ models.get(model).descriptions.results_description.get(category).risk_text }}</span>
                        <span class="riskBox__score"></span>
                        <p class="riskBox__description hidePhone">{{ models.get(model).descriptions.results_description.get(category).descriptions[0] }}</p>
                        <span class="riskBox__link link icon-arrowLong">More</span>
                    </a>
                {% endfor %}

            </section>
            <section class="consultantRoundedBox">
                <figure class="consultantRoundedBox__imgContainer">
                    <img class="consultantRoundedBox__img" src="../img/consultant.svg" width="204" height="360" alt="">
                </figure>
                <h2 class="consultantRoundedBox__heading heading-2">Talk to your doctor or genetic counselor</h2>
                <p class="consultantRoundedBox__description">{{ content.talk_to_doctor[0] }} <strong>{{ content.talk_to_doctor[1] }}</strong></p>
            </section>
            <hr class="breakingLine hidePhone"/>
            <section class="howToRead">
                <div class="howToRead__intro">
                    <h2 class="howToRead__introHeading heading-2 align-center">How to Read Results</h2>
                    <p class="howToRead__description">{{ content.how_to_read_results }}</p>
                </div>
                <div class="layout-3col">

                    {% for risk in ["low", "medium", "high"] %}

                        <div class="riskDescription riskDescription--{{ risk }}">
                            <h3 class="riskDescription__heading heading-3">{{ content.risk_info.get(risk).name }}</h3>
                            <p class="riskDescription__description"> {{ content.risk_info.get(risk).description }} </p>
                        </div>

                    {% endfor %}

                </div>
            </section>
        </div>

        {% for prs_result_key, prs_result_value in models.items() %}

            {% set model = prs_result_key %}
			{% set category = models.get(model).score_model.category %}
			{% set result = models.get(model).descriptions.results_description.get(category).risk_value %}
            {% set genome = (prs_result_value.descriptions.trait_heritability * 100)|round|int %}
            {% set environment = 100 - genome %}

            <div id="{{ model }}" class="tab">
                <section class="resultBox">
                    <h2 class="heading-1 resultBox__heading">Your result</h2>
                    <div class="riskBox riskBox--{{ result }} riskBox--compact resultBox__result">
                        <h2 class="riskBox__heading heading-3">{{ models.get(model).descriptions.name }}</h2>
                        <span class="riskBox__badge">{{ models.get(model).descriptions.results_description.get(category).risk_text }}</span>
                        <span class="riskBox__score riskBox__score--stretch"></span>
                    </div>
                    <p class="resultBox__description">{{ models.get(model).descriptions.results_description.get(category).descriptions|join(' ') }}</p>
                </section>
                <hr class="breakingLine"/>
                <section class="text-2col">
                    <h2 class="heading-0 text-2col__heading">{{ models.get(model).descriptions.name }}</h2>
                    {% for feature_description in models.get(model).descriptions.model_description %}
                        <p>{{ feature_description }}</p>
                    {% endfor %}
                </section>

                {% if (result == "high" or result == "medium") %}

                    <section class="hint">
                        <h3 class="heading-2 hint__heading">{{ content.high_medium_risk_disclaimer.title }}</h3>
                        <p>{{ content.high_medium_risk_disclaimer.text[0] }}</p>
                    </section>

                {% endif %}

                <hr class="breakingLine hidePhone"/>
                <section class="recommendation">
                    <section
                            class="consultantRoundedBox consultantRoundedBox--imgOnRight consultantRoundedBox--withMainHeading">
                        <h2 class="heading-1 consultantRoundedBox__mainHeading">Recommendation</h2>
                        <figure class="consultantRoundedBox__imgContainer">
                            <img class="consultantRoundedBox__img" src="../img/consultant.svg" width="204" height="360"
                                 alt="">
                        </figure>
                        <h3 id="{{ model }}-talk_to_your_doctor" class="consultantRoundedBox__heading heading-2">Talk to your doctor or genetic
                            counselor</h3>
                        <p class="consultantRoundedBox__description">{{ models.get(model).descriptions.recommendations.get(category).description }}</p>

                    </section>

                    <section class="iconBlocks text-2col">
                        {% for recommendation_from_set in models.get(model).descriptions.recommendations.get(category).set %}
							<div class="iconBlock {{ recommendation_from_set.icon }}">
								<h4 class="iconBlock__heading heading-4">{{ recommendation_from_set.name|capitalize|replace("_", " ") }}</h4>
								<p>{{ recommendation_from_set.description }}</p>
							</div>
                        {% endfor %}
                    </section>

                </section>
                <hr class="breakingLine"/>
                <section class="factors hideMobile">
                    <h2 class="factors__heading heading-1">Other factors</h2>
                    <div class="factors__tabs asideTabsContent" data-action="asideTabs">
                        <ul class="asideTabs">
                            {% for factors in models.get(model).descriptions.other_factors %}
								{# Set proper classes for first element - the tab should be active #}
								{% if loop.first %}
									{% set class = "asideTabs__tab asideTabs__tab--isActive" %}
								{% else %}
									{% set class = "asideTabs__tab" %}
								{% endif %}
								<li class="{{ class }}" data-tab="{{ model }}-{{ factors.id }}">
									<a href="#{{ model }}-{{ factors.id }}" class="asideTabs__link link {{ factors.icon }}" data-action="asideTabTrigger" data-tab-group="{{ model }}">{{ factors.id|replace("_", " ")|capitalize }}</a>
								</li>
                            {% endfor %}
                        </ul>
						{% for factors in models.get(model).descriptions.other_factors %}
							{# Set proper classes for first element - the tab should be visible #}
							{% if loop.first %}
								{% set class = "asideTab asideTab--isVisible" %}
							{% else %}
								{% set class = "asideTab" %}
							{% endif %}
							<div id="{{ model }}-{{ factors.id }}" class="{{ class }}">
								{% for item in factors.factors %}
									{% set factor_name = item.name %}
									{% set description = item.description %}
									<h4 class="asideTab__heading heading-3">{{ factor_name|capitalize }}</h4>
									<p>{{ description }}</p>
								{% endfor %}
								<a href="#{{ model }}-about_the_test" class="link text-info asideTab__more hidePhone">See scientific details</a>
							</div>
						{% endfor %}
                    </div>
                </section>
                <section class="recommendation hideDesktop">
                    <h2 class="factors__heading heading-1">Other factors</h2>
                    <section class="iconBlocks text-2col">
                        {% for factors in models.get(model).descriptions.other_factors %}
							<div class="iconBlock {{ factors.icon }}">
								<h4 class="iconBlock__heading heading-4">{{ factors.id|replace("_", " ")|capitalize }}</h4>
                                {% for item in factors.factors %}
                                    {% if (item.description|length > 300) %}
                                    <div class="expandableContent expandableContent--size7" data-action="expandContentBlock">
                                        <p>{{ item.name }}</p>
                                        <p>{{ item.description }}</p>
                                        <span class="expandableContent__expanderContainer expandableContent__expanderContainer--alignRight"><a href="#more" class="expandableContent__expander link text-info icon-arrowDownSolid"
                                                                                                                                            data-action="expandContent">Show more</a></span>
                                    </div>
                                    {% else %}
                                        <h4 class="asideTab__heading heading-3">{{ item.name|capitalize }}</h4>
								        <p>{{ item.description }}</p>
                                    {% endif %}
                                {% endfor %}
							</div>
                        {% endfor %}
                    </section>

                </section>
                <hr class="breakingLine"/>
                <section class="consultantRoundedBox consultantRoundedBox--noImg hideMobile">
                    <h2 class="heading-1 consultantRoundedBox__mainHeading">Family</h2>
                    {% for family_content in models.get(model).descriptions.family_description %}
                        <p class="consultantRoundedBox__description">{{ family_content }}</p>
                    {% endfor %}
                </section>
                <section class="hideDesktop">
                    <h2 class="heading-1 consultantRoundedBox__mainHeading">Family</h2><br>
                    {% for family_content in models.get(model).descriptions.family_description %}
                        <p class="consultantRoundedBox__description">{{ family_content }}</p>
                    {% endfor %}
                </section>
                <hr class="breakingLine"/>
                <section class="text-2col">
                    <h2 class="heading-0 text-2col__heading text-2col__heading--span">More about the disease</h2>

                    {% for about_disease in models.get(model).descriptions.more_about_the_disease %}

                        <h3 class="heading-4 text-2col__subheading">{{ about_disease.title }}</h3>

                        {% if about_disease.text is defined %}
                            <p>{{ about_disease.text }}</p>
                        {% endif %}

                        {% if about_disease.unordered_list is defined %}
                            <ul class="list-unordered">

                                {% for li in about_disease.unordered_list %}
                                    <li style="display: inline-block">{{ li }}</li><br>
                                {% endfor %}

                            </ul>
                        {% endif %}

                    {% endfor %}


                </section>
                <hr class="breakingLine"/>
                <section class="text-2col aboutText">
                    <h2 id="{{ model }}-about_the_test" class="heading-1 text-2col__heading text-2col__heading--span">About the test</h2>
                    <h3 class="heading-2 text-2col__subheading">The science behind your result</h3>

                    <p>{{ models.get(model).descriptions.about_the_test.text1 }}</p>
                    <div class="analyzeSumUp" id="genesBox">
                        <h3 class="heading-3 analyzeSumUp__heading">Number of genes analyzed:</h3>
                        <strong class="analyzeSumUp__score">{{ models.get(model).descriptions.about_the_test.genes|length }}</strong>
                        <p class="analyzeSumUp__description">{{ models.get(model).descriptions.about_the_test.genes|sort|join(', ') }}</p>
                    </div>
                    <div class="impactInfo">
                        <h3 class="heading-4 impactInfo__heading">Impact on the phenotype</h3>
                        <ul class="impactData">
                            {# Tutaj można dodać klasę impactData--danger albo zdefiniować swoją #}
                            <li class="impactData__item icon-factory icon-salad"><strong
                                    class="impactData__score">{{ environment }}%</strong> <span
                                    class="impactData__name">Environment</span>
                            </li>
                            <li class="impactData__item icon-dna"><strong
                                    class="impactData__score">{{ genome }}%</strong> <span
                                    class="impactData__name">Your genome</span></li>
                        </ul>
                    </div>
                    <p>{{ models.get(model).descriptions.about_the_test.text2 }}</p>
                </section>
                <section class="text-2col text-2col--wideSection hideMobile">
                    <h2 class="heading-2 text-2col__heading text-2col__heading--span">What does the genetic predisposition mean?</h2>
                    <p>{{ content.what_does_the_genetic_predisposition_mean.text }}</p>
                </section>
                <section class="hideDesktop">
                    <h2 class="heading-2">What does the genetic predisposition mean?</h2><br>
                    <p>{{ content.what_does_the_genetic_predisposition_mean.text }}</p>
                </section>
                <hr class="breakingLine hideDesktop"/>
                <section class="text-2col">
                    <h2 class="heading-1 text-2col__heading text-2col__heading--span">Glossary</h2>

                    {% for term in content.glossary %}
                        <h3 class="heading-4">{{ term.title }}</h3>
                        <p class="text-2col__noBreak">{{ term.description }}</p>
                    {% endfor %}


                </section>
                <hr class="breakingLine"/>
                <section class="text-2col">
                    <h2 class="heading-1 text-2col__heading text-2col__heading--span">References</h2>
                    <h3 class="heading-4">Data analysis articles: </h3>
                    {% for article in models.get(model).descriptions.references.data_analysis_articles %}
                        <p class="text-2col__noBreak">{{ article }}</p>
                    {% endfor %}
					{% if models.get(model).descriptions.references.recommendations_articles %}
						<h3 class="heading-4">Articles used for recommendations: </h3>
						{% for article in models.get(model).descriptions.references.recommendations_articles %}
							<p class="text-2col__noBreak">{{ article }}</p>
						{% endfor %}
					{% endif %}
                </section>
                <section class="share">
                    <h2 class="share__heading heading-0 align-center">Share your results</h2>
                    <p class="share__lead align-center">{{ content.whats_next }}</p>
                    <ul class="share__options layout-4col">
                        <li class="share__optionsItem icon-talk">
                            <span class="share__optionName">Talk to your doctor </span>
                        </li>
                        <li class="share__optionsItem icon-talk2">
                            <span class="share__optionName">Talk to a genetic counselor</span>
                        </li>
                        <li class="share__optionsItem icon-family2">
                            <span class="share__optionName">Talk to your family</span>
                        </li>
                    </ul>
                </section>
            </div>

        {% endfor %}

    </section>
</main>
<footer id="footer" class="text-info">
    <ul class="companyInfo centeringContainer">
        <li class="companyInfo__item">
            <h5 class="companyInfo__heading">Company name</h5>
            {% if analysis_run == "T-Systems" %}
                <p class="companyInfo__detail">T-Systems Singapore</p>
            {% else %}
                <p class="companyInfo__detail">Intelliseq Inc.</p>
            {% endif %}
        </li>
        <li class="companyInfo__item">
            <h5 class="companyInfo__heading">Address</h5>
            {% if analysis_run == "T-Systems" %}
                <p class="companyInfo__detail">15 Changi Business Park Crescent</p>
                <p class="companyInfo__detail">Singapore 486006</p>
            {% else %}
                <p class="companyInfo__detail">ul. Wilczynskiego 19</p>
                <p class="companyInfo__detail">31-358 Krakow</p>
            {% endif %}
        </li>
        <li class="companyInfo__item">
            <h5 class="companyInfo__heading">Contact</h5>
            {% if analysis_run == "T-Systems" %}
			    <p class="companyInfo__detail"><a href="mailto:contactus@t-systems.com">contactus@t-systems.com</a></p>
            {% else %}
                <p class="companyInfo__detail"><a href="mailto:contact@intelliseq.com">contact@intelliseq.com</a></p>
            {% endif %}
        </li>
    </ul>
</footer>
</body>
</html>
