<!DOCTYPE html>
<html lang="en" id="mainContainer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>wellness_web_1 / wellness_web_2 / wellness_web_detail / wellness_web_detail_02 / wellness_web_detail_03 / Android / Android Copy</title>
</head>
<body>
<header id="topBar" class="topBar--hasShadow">
    <div class="topBar__content centeringContainer">
        {% if analysis_run == "T-Systems" %}
            <img src="../img/T-Systems-logo.png" width="210px" height="80px" alt=""/>
        {% elif analysis_run == "Vitalleo" %}
            <img src="../img/Vitalleo-logo.png" width="140px" height="80px" alt=""/>
        {% else %}
            <img src="../img/IntelliseqFlow-logo.png" width="190px" height="50px" alt=""/>
        {% endif %}
    </div>
</header>
<main id="contentContainer" data-action-extra="toggleTab:summary" data-action-extra-class="summaryTabIsHidden">
    <section id="header" data-action-extra="toggleTab:summary" data-action-extra-class="header--compact">
        <div class="centeringContainer header__middleContainer">
            <div class="header__content">
                <a href="#summary" class="link icon-arrowLeftSolid header__backToSummary" data-action="linkTabTrigger">Back to Summary</a>
                </br>
                <h1 class="heading-0 header__heading">Wellness report</h1>
                <div data-action-extra="toggleTab:summary">
					<p class="text-medium">{{ content.wellness_description }}</p>
                </div>
                <dl class="patientDetails patientDetails--vertical" data-action-extra="toggleTab:summary">
                    <dt class="patientDetails__heading">Name</dt>
                    <dd class="patientDetails__detail">{{ sample_info.name + " " + sample_info.surname }}</dd>
                    <dt class="patientDetails__heading">Patient ID</dt>
                    <dd class="patientDetails__detail">{{ sample_info.patient_id}}</dd>
                    <dt class="patientDetails__heading">Report date</dt>
                    <dd class="patientDetails__detail">{{ sample_info.report_date}}</dd>
                </dl>
            </div>
        </div>
    </section>
    <section class="tabsContent tabsContent--noBg centeringContainer">
        <nav class="tabs tabs--stretched" data-action="tabs">
            <ul class="tabs__container">
                <li class="tabs__tab tabs__tab--isActive" data-tab="summary">
                    <a href="#summary" class="tabs__link link" data-action="tabTrigger">Summary</a>
                </li>
                {% set record_info = dict() %}
                {% for prs_result_key, prs_result_value in models.items() %}
                    {% set key =  prs_result_value.descriptions.trait_category %}
                    {% if key in record_info %}
                        {{ record_info[key].append(prs_result_value.descriptions.id) or "" }}
                    {% else %}
                        {% set _dummy = record_info.update({ key: [prs_result_value.descriptions.id] }) %}
                    {% endif %}
                {% endfor %}
                {% for key, value in record_info.items() %}
                    <li class="tabs__tab" data-tab="{{ key }}">
                        <a href="#{{ key }}" class="tabs__link link" data-action="tabTrigger">{{ key|capitalize }}</a>
                        <nav class="subtabMenu text-body">
                            <ul class="subtabMenu__content">
                                {% for item in value %}
                                    {% if loop.first %}
                                        {% set class = "subtabMenu__item link subtabMenu__item--isActive" %}
                                    {% else %}
                                        {% set class = "subtabMenu__item link" %}
                                    {% endif %}
                                    <li>
                                        <a href="#{{ item }}" class="{{ class }}" data-action="subTabTrigger" data-tab="{{ item }}">{{ models.get(item).descriptions.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </li>
                {% endfor %}
            </ul>
            <ul class="tabs__scrollers">
                <li class="tabs__scroller tabs__scroller--isInactive icon-arrowLeftSolid" data-action="tabPrev">previous</a></li>
                <li class="tabs__scroller icon-arrowRightSolid" data-action="tabNext">next</a></li>
            </ul>
        </nav>
        <div id="summary" class="tab tab--isVisible">
            {% for key, value in record_info.items() %}

<!--                Number of high, medium and low results-->
                {% set high = namespace(value=0) %}
                {% set medium = namespace(value=0) %}
                {% set low = namespace(value=0) %}
                {% for item in value %}
					{% set result = models.get(item).score_model.category %}
                    {% if models.get(item).descriptions.results_description.get(result).risk_value == "high" %}
                        {% set high.value = high.value + 1 %}
                    {% elif models.get(item).descriptions.results_description.get(result).risk_value == "medium" %}
                        {% set medium.value = medium.value + 1 %}
                    {% else %}
                        {% set low.value = low.value + 1 %}
                    {% endif %}
                {% endfor %}

                {% if loop.first %}
                    <div class="decoratorImg">
                        <div class="risksScrollable risksScrollable--isInactive metabolism">
                            <h2 class="heading-1 risksScrollable__heading countHint" data-count={{ value|length }}>{{ key|capitalize }}</h2>
                            <ul class="filters text-info" data-action="filters">
                                <li class="filters__item">
                                    <a href="#all{{ key }}" class="link filters__link countHint" data-filter="high" data-count={{ high.value }} data-action="filtersCase">High</a>
                                </li>
                                <li class="filters__item">
                                    <a href="#all{{ key }}" class="link filters__link countHint" data-filter="medium" data-count={{ medium.value }} data-action="filtersCase">Medium</a>
                                </li>
                                <li class="filters__item">
                                    <a href="#all{{ key }}" class="link filters__link countHint" data-filter="low" data-count={{ low.value }} data-action="filtersCase">Low</a>
                                </li>
                            </ul>
                            <p class="risksScrollable__emptyMsg text-medium">The list is empty. Please select categories from the filters above to see some results.</p>
                            <section id="all{{ key }}" class="riskScroller">
                                {% for item in value %}
                                    {% set result = models.get(item).score_model.category %}
                                    <a href="#{{ key }}:{{ item }}" class="riskBox riskBox--hasGlow riskBox--{{ models.get(item).descriptions.results_description.get(result).risk_value }}" data-action="linkSubTabTrigger" data-filter="{{ models.get(item).descriptions.results_description.get(result).risk_value }}"> <!-- add  riskBox--isDisabled class for disabled box -->
                                        <h3 class="riskBox__heading heading-2">{{ models.get(item).descriptions.name }}</h3>
                                        <span class="riskBox__badge">{{ models.get(item).descriptions.results_description.get(result).risk_text|capitalize }}</span>
                                        <span class="riskBox__score"></span>
                                        <p class="riskBox__description hidePhone">{{ models.get(item).descriptions.results_description.get(result).descriptions[0] }}</p>
                                        <span class="riskBox__link riskBox__link--hasBg link icon-arrowLong">More</span>
                                    </a>
                                {% endfor %}
                            </section>
                            <ul class="dots hideMobile" data-action="risksScroll" data-action-extra="toggle:all{{ key }}"></ul>
                            <a href="#all{{ key }}" class="link text-info showAll countHint" data-count={{ value|length }} data-action="expandBlocks">Show all</a>
                        </div>
                        <section class="consultantSquareBox consultantSquareBox--onRight">
                            <figure class="consultantSquareBox__imgContainer">
                                <img class="consultantSquareBox__img" src="../img/consultant-hires.png" width="170" height="170" alt=""/>
                            </figure>
                            <h2 class="heading-1 consultantSquareBox__heading">Talk to your practitioner</h2>
                            <p>This report aims to provide you and your doctor with relevant genetic results to aid in guiding lifestyle, diet, and supplement choices with the goal of improving overall health. Talk with your
                                healthcare professional before making any major lifestyle changes. This test does not diagnose any health conditions or provide medical advice, it has educational purposes only.</p>
                        </section>
                    </div>
                {% elif (loop.last and value|length == 1) %}
                    {% set item = value[0] %}
                    {% set result = models.get(item).score_model.category %}
                    <section class="bmi">
                        <h2 class="heading-1 bmi__heading countHint" data-count={{ value|length }}>{{ key|capitalize }}</h2>
                        <a href="#{{ key }}:{{ item }}" class="riskBox riskBox--autoHeight riskBox--hasGlow riskBox--{{ models.get(item).descriptions.results_description.get(result).risk_value }} bmi__risk" data-action="linkSubTabTrigger">
                            <h3 class="riskBox__heading heading-2">{{ models.get(item).descriptions.name }}</h3>
                            <span class="riskBox__badge">{{ models.get(item).descriptions.results_description.get(result).risk_text|capitalize }}</span>
                            <span class="riskBox__score"></span>
                            <p class="riskBox__description hidePhone">{{ models.get(item).descriptions.results_description.get(result).descriptions[0] }}</p>
                            <span class="riskBox__link riskBox__link--hasBg link icon-arrowLong">More</span>
                        </a>
                    </section>
                {% else %}
                    <div class="risksScrollable risksScrollable--isInactive nutrition">
                        <h2 class="heading-1 nutrition__heading countHint" data-count={{ value|length }}>{{ key|capitalize }}</h2>
                        <ul class="filters text-info" data-action="filters">
                            <li class="filters__item">
                                <a href="#all{{ key }}" class="link filters__link countHint" data-filter="high" data-count={{ high.value }} data-action="filtersCase">High</a>
                            </li>
                            <li class="filters__item">
                                <a href="#all{{ key }}" class="link filters__link countHint" data-filter="medium" data-count={{ medium.value }} data-action="filtersCase">Medium</a>
                            </li>
                            <li class="filters__item">
                                <a href="#all{{ key }}" class="link filters__link countHint" data-filter="low" data-count={{ low.value }} data-action="filtersCase">Low</a>
                            </li>
                        </ul>
                        <p class="risksScrollable__emptyMsg text-medium">The list is empty. Please select categories from the filters above to see some results.</p>
                        <section id="all{{ key }}" class="riskScroller">
                            {% for item in value %}
                                {% set result = models.get(item).score_model.category %}
                                <a href="#{{ key }}:{{ item }}" class="riskBox riskBox--hasGlow riskBox--{{ models.get(item).descriptions.results_description.get(result).risk_value }}" data-action="linkSubTabTrigger" data-filter="{{ models.get(item).descriptions.results_description.get(result).risk_value }}"> <!-- add  riskBox--isDisabled class for disabled box -->
                                    <h3 class="riskBox__heading heading-2">{{ models.get(item).descriptions.name }}</h3>
                                    <span class="riskBox__badge">{{ models.get(item).descriptions.results_description.get(result).risk_text|capitalize }}</span>
                                    <span class="riskBox__score"></span>
                                    <p class="riskBox__description hidePhone">{{ models.get(item).descriptions.results_description.get(result).descriptions[0] }}</p>
                                    <span class="riskBox__link riskBox__link--hasBg link icon-arrowLong">More</span>
                                </a>
                            {% endfor %}
                        </section>
                        <ul class="dots hideMobile" data-action="risksScroll" data-action-extra="toggle:all{{ key }}"></ul>
                        <a href="#all{{ key }}" class="link text-info showAll countHint" data-count={{ value|length }} data-action="expandBlocks">Show all</a>
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <section class="howToRead howToRead--hasExtraBottomMargin">
                <div class="howToRead__intro howToRead__intro--mobileOnlyHeading">
                    <h2 class="howToRead__introHeading heading-2 align-center">How to Read Results</h2>
                    <p class="howToRead__description">{{ content.how_to_read_results }}</p>
                </div>
                <div class="layout-3col">

                    {% for risk in ["low", "medium", "high"] %}

                        <div class="riskDescription riskDescription--{{ risk }}">
                            <h3 class="riskDescription__heading heading-3">{{ content.risk_info.get(risk).name }}</h3>
                            <p class="riskDescription__description"> {{ content.risk_info.get(risk).description }} </p>
                        </div>

                    {% endfor %}

                </div>
            </section>
        </div>
        {% for key, value in record_info.items() %}
            <div id="{{ key }}" class="tab">
                {% for item in value %}
                    {% set result = models.get(item).score_model.category %}
                    <div id="{{ item }}" class="subTab subTab--isVisible" data-tab-group="{{ key }}">
                        <section class="subTabLead">
                            <h1 class="subTabLead__heading heading-1">{{ models.get(item).descriptions.name }}</h1>
                            <div class="subTabLead__contentContainer expandableContent" data-action="expandContentBlock">
                                {% for feature_description in models.get(item).descriptions.model_description %}
                                    <p>{{ feature_description }}</p>
                                {% endfor %}
                                <span class="expandableContent__expanderContainer expandableContent__expanderContainer--alignRight"><a href="#more" class="expandableContent__expander link text-info icon-arrowDownSolid"
                                                                                                                                       data-action="expandContent">Show more</a></span>
                            </div>
                            <figure class="subTabLead__imgContent">
                                <img src="../img/backgrounds/{{ models.get(item).descriptions.image_top }}" class="subTabLead__img" width="748" height="428" alt=""/>
                            </figure>
                        </section>
                        <div class="resultSection resultSection--{{ models.get(item).descriptions.results_description.get(result).risk_value }}"> <!-- based on score result use classes resultSection--high, resultSection--medium or resultSection--low -->
                            <h2 class="heading-3 resultSection__heading">Your result: <strong class="heading-0">{{ models.get(item).descriptions.results_description.get(result).risk_text|capitalize }}</strong></h2>
                            <span class="riskBox__score"></span>
                            <div class="resultSection__description expandableContentOnPhone" data-action="expandContentBlock">
                                <p>{{ models.get(item).descriptions.results_description.get(result).descriptions[1] }}</p>
                                <span class="expandableContent__expanderContainer expandableContent__expanderContainer--alignRight"><a href="#more" class="expandableContent__expander link text-info icon-arrowDownSolid hideMobile"
                                                                                                                                       data-action="expandContent">Show more</a></span>
                            </div>
                        </div>
                        <div class="recommendations">
                            <section class="consultantSquareBox consultantSquareBox--imgOnRight consultantSquareBox--withMainHeading">
                                <h2 class="heading-1 consultantSquareBox__mainHeading">Recommendation</h2>
                                <figure class="consultantSquareBox__imgContainer">
                                    <img class="consultantSquareBox__img" src="../img/consultant-hires.png" width="170" height="170" alt=""/>
                                </figure>
                                <h3 id="{{ key }}-talk_to_your_doctor" class="heading-2 consultantSquareBox__heading hideMobile">Talk to your practitioner</h3>
                                <h3 id="{{ key }}-talk_to_your_doctor" class="heading-1 consultantSquareBox__heading hideDesktop">Talk to your practitioner</h3>
                                <p>{{ models.get(item).descriptions.recommendations.get(result).description }}</p>
                            </section>
                            <section class="layout-3col">
                                {% for recommendation_from_set in models.get(item).descriptions.recommendations.get(result).set %}
                                    <div class="iconBlock {{ recommendation_from_set.icon }}">
                                        <h4 class="heading-4 iconTextSection__heading">{{ recommendation_from_set.name }}</h4>
										{% if (recommendation_from_set.description|length > 300 and models.get(item).descriptions.recommendations.get(result).set|length > 2) or (recommendation_from_set.description|length > 400 and models.get(item).descriptions.recommendations.get(result).set|length <= 2)  %}
											<div class="expandableContent expandableContent--size7" data-action="expandContentBlock">
												<p>{{ recommendation_from_set.description }}</p>
												<span class="expandableContent__expanderContainer expandableContent__expanderContainer--alignRight"><a href="#more" class="expandableContent__expander link text-info icon-arrowDownSolid"
																																					   data-action="expandContent">Show more</a></span>
											</div>
										{% else %}
											<p>{{ recommendation_from_set.description }}</p>
										{% endif %}
                                    </div>
                                {% endfor %}
                            </section>
                        </div>
                        <hr class="breakingLine"/>
						<section class="factors hideMobile">
							<h2 class="factors__heading heading-1">Other factors</h2>
							<div class="factors__tabs asideTabsContent" data-action="asideTabs">
								<ul class="asideTabs">
									{% for factors in models.get(item).descriptions.other_factors %}
										{# Set proper classes for first element - the tab should be active #}
										{% if loop.first %}
											{% set class = "asideTabs__tab asideTabs__tab--isActive" %}
										{% else %}
											{% set class = "asideTabs__tab" %}
										{% endif %}
										<li class="{{ class }}" data-tab="{{ item }}-{{ factors.id }}">
											<a href="#{{ item }}-{{ factors.id }}" class="asideTabs__link link {{ factors.icon }}" data-action="asideTabTrigger" data-tab-group="{{ item }}">{{ factors.id|replace("_", " ")|capitalize }}</a>
										</li>
									{% endfor %}
								</ul>
								{% for factors in models.get(item).descriptions.other_factors %}
									{# Set proper classes for first element - the tab should be visible #}
									{% if loop.first %}
										{% set class = "asideTab asideTab--isVisible" %}
									{% else %}
										{% set class = "asideTab" %}
									{% endif %}
									<div id="{{ item }}-{{ factors.id }}" class="{{ class }}">
										{% for item in factors.factors %}
											{% set factor_name = item.name %}
											{% set description = item.description %}
											<h4 class="asideTab__heading heading-3">{{ factor_name|capitalize }}</h4>
											<p>{{ description }}</p>
										{% endfor %}
										{% if models.get(item).descriptions.more_about_the_disease %}
											<a href="#{{ item }}-about_the_test" class="link text-info asideTab__more hidePhone">See scientific details</a>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						</section>
                        <section class="recommendations hideDesktop">
							<h2 class="factors__heading heading-1">Other factors</h2>
                            <section class="layout-3col">
                                {% for factors in models.get(item).descriptions.other_factors %}
                                    {% for item in factors.factors %}
                                        <div class="iconBlock {{ factors.icon }}">
                                            <h4 class="heading-4 iconTextSection__heading">{{ item.name }}</h4>
                                            {% if (item.description|length > 500) %}
                                                <div class="expandableContent expandableContent--size7" data-action="expandContentBlock">
                                                    <p>{{ item.description }}</p>
                                                    <span class="expandableContent__expanderContainer expandableContent__expanderContainer--alignRight"><a href="#more" class="expandableContent__expander link text-info icon-arrowDownSolid"
                                                                                                                                                        data-action="expandContent">Show more</a></span>
                                                </div>
                                            {% else %}
                                                <p>{{ item.description }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </section>
						</section>
						{% if models.get(item).descriptions.more_about_the_disease %}
							<section class="layout-2sections">
								<div class="layout-2sections__darkSection">
									{% if models.get(item).descriptions.more_about_the_disease|length > 2 %}
										{% set range_end = namespace(value=2) %}
									{% else %}
										{% set range_end = namespace(value=1) %}
									{% endif %}
									{% for about_disease in models.get(item).descriptions.more_about_the_disease[0:range_end.value] %}
										<h3 class="heading-1 layout-2sections__mainHeading">{{ about_disease.title }}</h3>
										{% if about_disease.text is defined %}
											<p>{{ about_disease.text }}</p>
										{% endif %}
										<br>
										{% if about_disease.unordered_list is defined %}
											<ul class="list-unordered">
												{% for li in about_disease.unordered_list %}
													<li style="display: inline-block">{{ li }}</li><br>
												{% endfor %}
											</ul>
										{% endif %}
										<br/>
									{% endfor %}
									<figure class="layout-2sections__imgContainer">
											<img class="layout-2sections__img" src="../img/backgrounds/{{ models.get(item).descriptions.image_more_about_the_disease }}" width="686" height="416" alt=""/>
									</figure>
								</div>
								<div class="layout-2sections__lightSection">
									{% for about_disease in models.get(item).descriptions.more_about_the_disease[range_end.value:] %}
										<h3 class="heading-1 layout-2sections__mainHeading">{{ about_disease.title }}</h3>
										{% if about_disease.text is defined %}
											<p>{{ about_disease.text }}</p>
										{% endif %}
										<br>
										{% if about_disease.unordered_list is defined %}
											<ul class="list-unordered">
												{% for li in about_disease.unordered_list %}
													<li style="display: inline-block">{{ li }}</li><br>
												{% endfor %}
											</ul>
										{% endif %}
										<br/>
									{% endfor %}
								</div>
							</section>
						{% endif %}
                        <section class="aboutTest">
                            <section class="aboutTest__intro">
                                <h2 id="{{ item }}-about_the_test" class="heading-2 aboutTest__mainHeading">About The Test</h2>
                                <h3 class="heading-3 aboutTest__heading">The science behind your result</h3>
                                <div class="aboutTest__description expandableContentOnPhone" data-action="expandContentBlock">
                                    <p>{{ models.get(item).descriptions.about_the_test.text1 }}</p>
                                    <span class="expandableContent__expanderContainer expandableContent__expanderContainer--alignRight"><a href="#more" class="expandableContent__expander link text-info icon-arrowDownSolid"
                                                                                                                                           data-action="expandContent">Show more</a></span>
                                </div>
                            </section>
                            <section class="chartContainer text-autoCol">
                                <div class="chartContent">
                                    <h3 class="heading-3 chartContent__heading">Impact on the phenotype</h3>
                                    <div class="chart">
                                        <figure class="chart__chart" style="--genotypeScore: {{ models.get(item).descriptions.genotypeScore }}; --geneticScore: {{ models.get(item).descriptions.geneticScore }}">
                                            <svg class="chart__img" role="img" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="chart__circleBg"/>
                                                {% if models.get(item).descriptions.genotypeScore != "NA" %}
                                                    <circle class="chart__mainScore"/>
                                                {% endif %}
												{% if models.get(item).descriptions.geneticScore != "NA" %}
                                                	<circle class="chart__secondaryScore"/>
												{% endif %}
                                            </svg>
                                        </figure>
                                        <ul class="chart__legend">
                                            {% if models.get(item).descriptions.genotypeScore != "NA" %}
                                                <li class="chart__legendItem chart__legendItem--genotype"><strong class="chart__legendScore">{{ models.get(item).descriptions.genotypeScore }}%</strong> Genotype</li>
											    <li class="chart__legendItem chart__legendItem--environment"><strong class="chart__legendScore">{{ models.get(item).descriptions.environmentScore }}%</strong> Environment</li>
											{% else %}
                                                <li class="chart__legendItem chart__legendItem--genotype"><strong class="chart__legendScore">N/A</strong> Genotype</li>
                                                <li class="chart__legendItem chart__legendItem--environment"><strong class="chart__legendScore">N/A</strong> Environment</li>
                                            {% endif %}
                                            {% if models.get(item).descriptions.geneticScore != "NA" %}
                                            	<li class="chart__legendItem chart__legendItem--genetic"><strong class="chart__legendScore">{{ models.get(item).descriptions.geneticScore }}%</strong> Genetic variants <br>tested</br></li>
											{% else %}
                                                <li class="chart__legendItem chart__legendItem--genetic"><strong class="chart__legendScore">N/A</strong> Genetic variants <br>tested</br></li>
                                            {% endif %}
										</ul>
                                    </div>
                                </div>
                                <div class="chartDescription">
                                    <p><strong>{{ models.get(item).descriptions.about_the_test.text2 }}</strong></p>
                                    <p>{{ models.get(item).descriptions.about_the_test.text3 }}</p>
                                </div>
                            </section>
                            <section class="genesBox" id="{{ item }}-genesBox">
                                <div class="genesSumUp">
                                    <h3 class="heading-3 genesSumUp__heading">Number of genes analyzed</h3>
                                    <p class="genesSumUp__score"><strong class="genesSumUp__scoreValue">{{ models.get(item).descriptions.about_the_test.genes|length }}</strong> <a href="#{{ item }}-genesBox" class="link text-info genesSumUp__expander icon-arrowDownSolid" data-action="expandGenes">Show
                                        more</a></p>
                                </div>
                                <div class="genesList">
                                    <hr class="breakingLine"/>
                                    <div class="text-2colAuto">
                                        {{ models.get(item).descriptions.about_the_test.genes|sort|join(', ') }}
                                    </div>
                                </div>
                            </section>
                        </section>
                        <hr class="breakingLine"/>

                        <section class="text-2col">
                        <h2 class="heading-1 text-2col__heading text-2col__heading--span">Glossary</h2>
                        {% for term in content.glossary %}
                            <h3 class="heading-4">{{ term.title }}</h3>
                            <p class="text-2col__noBreak">{{ term.description }}</p>
                        {% endfor %}
                        </section>
                        <hr class="breakingLine showMobile"/>

                        <section class="text-2col">
                            <h2 class="heading-1 text-2col__heading text-2col__heading--span">References</h2>
                            {% if models.get(item).descriptions.references.data_analysis_articles %}
                                <h3 class="heading-4">Data analysis articles: </h3>
                                {% for article in models.get(item).descriptions.references.data_analysis_articles %}
                                    <p class="text-2col__noBreak">{{ article }}</p>
                                {% endfor %}
                            {% endif %}
                            {% if models.get(item).descriptions.references.recommendations_articles %}
                                <h3 class="heading-4">Articles used for recommendations: </h3>
                                {% for article in models.get(item).descriptions.references.recommendations_articles %}
                                    <p class="text-2col__noBreak">{{ article }}</p>
                                {% endfor %}
                            {% endif %}
                        </section>
                    </div>
                {% endfor %}
                <section class="share">
                    <h2 class="share__heading heading-0 align-center">Share your results</h2>
                    <p class="share__lead align-center">{{ content.whats_next }}</p>
                    <ul class="share__options layout-4col">
                        <li class="share__optionsItem icon-talk">
                            <span class="share__optionName">Talk to your doctor </span>
                        </li>
                        <li class="share__optionsItem icon-talk2">
                            <span class="share__optionName">Talk to a genetic counselor</span>
                        </li>
                        <li class="share__optionsItem icon-family2">
                            <span class="share__optionName">Talk to your family</span>
                        </li>
                    </ul>
                </section>
            </div>
        {% endfor %}
    </section>
</main>
<footer id="footer" class="text-info">
    <ul class="companyInfo centeringContainer">
        <li class="companyInfo__item">
            <h5 class="companyInfo__heading">Company name</h5>
            {% if analysis_run == "T-Systems" %}
                <p class="companyInfo__detail">T-Systems Singapore</p>
            {% elif analysis_run == "Vitalleo" %}
                <p class="companyInfo__detail">Vitalleo Nutrition</p>
            {% else %}
                <p class="companyInfo__detail">Intelliseq Inc.</p>
            {% endif %}
        </li>
        <li class="companyInfo__item">
            <h5 class="companyInfo__heading">Address</h5>
            {% if analysis_run == "T-Systems" %}
                <p class="companyInfo__detail">15 Changi Business Park Crescent</p>
                <p class="companyInfo__detail">Singapore 486006</p>
            {% elif analysis_run == "Vitalleo" %}
                <p class="companyInfo__detail">2300 Marsh Point Road STE 302A</p>
                <p class="companyInfo__detail">Neptune Beach, FL 32266</p>
            {% else %}
                <p class="companyInfo__detail">ul. Wilczynskiego 19</p>
                <p class="companyInfo__detail">31-358 Krakow</p>
            {% endif %}
        </li>
        <li class="companyInfo__item">
            <h5 class="companyInfo__heading">Contact</h5>
            {% if analysis_run == "T-Systems" %}
			    <p class="companyInfo__detail"><a href="mailto:contactus@t-systems.com">contactus@t-systems.com</a></p>
            {% elif analysis_run == "Vitalleo" %}
			    <p class="companyInfo__detail"><a href="mailto:(904) 474-5330">(904) 474-5330</a></p>
            {% else %}
                <p class="companyInfo__detail"><a href="mailto:contact@intelliseq.com">contact@intelliseq.com</a></p>
            {% endif %}
        </li>
    </ul>
</footer>
</body>
</html>
